## Libraries

In [7]:
import os
import glob
import pandas as pd

In [8]:
# set visible all columns
pd.set_option('display.max_columns', None)

# Path

In [2]:
os.getcwd() # get current working directory

'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation'

In [3]:
# assing current working directory (`cwd`)
cwd = os.getcwd()
cwd

'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation'

In [4]:
# List all files and directories in current directory
os.listdir('.')

['.ipynb_checkpoints',
 'Basics.ipynb',
 'Budget.xlsx',
 'Budget_raw.xlsx',
 'Budget_template.xlsx',
 'Consolidation_HR',
 'Consolidation_v5.ipynb',
 'Costs.xlsx',
 'Costs_raw.xlsx',
 'Excel_Automation.ipynb',
 'Formating_v3.ipynb',
 'Groceries.xlsx',
 'Groceries_1.xlsx',
 'Groceries_Formated.xlsx',
 'HR.xlsx',
 'HR_April_FR.xlsx',
 'HR_August_FR.xlsx',
 'HR_DE.xlsx',
 'HR_May_FR.xlsx',
 'HR_UK.xlsx',
 'Python_labs',
 'Template.xlsx',
 'W03_Challenge.xlsx',
 'W04-Challenge.xlsx',
 'W06-Challenge-1.xlsx',
 'W06-workbook.xlsx']

# Consolidation HR

In [9]:
# path to our file

folder = 'Consolidation_HR'
path = cwd + '\\' + folder
path

'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR'

What we want to do is to consolidate those file into a single one

In [10]:
# check files in the foler
os.listdir(folder)

['.ipynb_checkpoints',
 'Consolidated.xlsx',
 'Consolidated_1.xlsx',
 'consolidated_by_sheet.xlsx',
 'DE.xlsx',
 'FR.xlsx',
 'UK.xlsx']

In [11]:
# read all the files with extension .xlsx i.e. excel 
filenames = glob.glob(path + "\*.xlsx")
print('File names with their paths:', filenames)

File names with their paths: ['C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR\\Consolidated.xlsx', 'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR\\Consolidated_1.xlsx', 'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR\\consolidated_by_sheet.xlsx', 'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR\\DE.xlsx', 'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR\\FR.xlsx', 'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Consolidation_HR\\UK.xlsx']

Download and reas excel files

In [12]:
filename = 'Consolidation_HR\DE.xlsx'
de = pd.read_excel(filename, index_col=None, header=0)
de = pd.DataFrame(de)

# check dataframe shape
print('Dataframe Shape: ', de.shape)

# add a column 'Country' to diferentiate the data in the consilidated dataframe
de['Country']= 'DE'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', de.shape)

# visualize first rows
de.head()

Dataframe Shape:  (673, 14)
Dataframe Shape:  (673, 15)

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [13]:
print('nb of columns: ', len(de.columns))
print('nb of rows: ', len(de))
de.columns

nb of columns:  15
nb of rows:  673

Index(['Date', 'Name', 'Mannschaft', 'Rohe Präsenz (min)', 'Pause (Minuten)',
       'Nettopräsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')

In [21]:
filename = 'Consolidation_HR\FR.xlsx'
fr = pd.read_excel(filename, index_col=None, header=0)
fr = pd.DataFrame(fr)

# check dataframe shape
print('Dataframe Shape: ', fr.shape)
# add a column 'Country' to diferentiate the data in the consilidated dataframe

fr['Country']= 'FR'
# check dataframe shape after adding the new column
print('Dataframe Shape: ', fr.shape)
# visualize first rows
fr.head()

Dataframe Shape:  (267, 14)
Dataframe Shape:  (267, 15)

,Date,Nom/Prénom,EQUIPE,Présence brute (min),Pause (min),Présente nette (min),Traitement (min),DMT,Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,FR
1,2022-04-19,Employee_1,TEAM_1,478,0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,FR
2,2022-04-20,Employee_1,TEAM_1,427,0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,FR
3,2022-04-21,Employee_1,TEAM_1,482,0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,FR
4,2022-04-22,Employee_1,TEAM_1,476,0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,FR

In [22]:
print('nb of columns: ', len(fr.columns))
print('nb of rows: ', len(fr))

fr.columns

nb of columns:  15
nb of rows:  267

Index(['Date', 'Nom/Prénom', 'EQUIPE', 'Présence brute (min)', 'Pause (min)',
       'Présente nette (min)', 'Traitement (min)', 'DMT',
       'Productivité horaire', 'Tickets traités', 'Tickets clos',
       'FTE (traitement)', 'FTE (présence)', 'FTE pondéré', 'Country'],
      dtype='object')

In [26]:
filename = r'Consolidation_HR\UK.xlsx'
uk = pd.read_excel(filename, index_col=None, header=0)
uk = pd.DataFrame(uk)

# check dataframe shape
print('Dataframe Shape: ', uk.shape)

# add a column 'Country' to diferentiate the data in the consilidated dataframe
uk['Country']= 'UK'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', uk.shape)
# visualize first rows
uk.head()

Dataframe Shape:  (269, 14)
Dataframe Shape:  (269, 15)

,Date,Nom/Prénom,EQUIPE,Présence brute (min),Pause (min),Présente nette (min),Traitement (min),DMT,Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,UK
1,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,UK
2,2022-04-20,Employee_1,TEAM_1,4.0,0.0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,UK
3,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,UK
4,2022-04-22,Employee_1,TEAM_1,476.0,0.0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,UK

In [27]:
print('nb of columns: ', len(uk.columns))
print('nb of rows: ', len(uk))

uk.columns

nb of columns:  15
nb of rows:  269

Index(['Date', 'Nom/Prénom', 'EQUIPE', 'Présence brute (min)', 'Pause (min)',
       'Présente nette (min)', 'Traitement (min)', 'DMT',
       'Productivité horaire', 'Tickets traités', 'Tickets clos',
       'FTE (traitement)', 'FTE (présence)', 'FTE pondéré', 'Country'],
      dtype='object')

In [28]:
frames= [de, uk, fr]
# concatenate all df into a single one
df = pd.concat(frames)

# check dataframe shape
print('Dataframe Shape: ', df.shape)

# visualize the last rows
df.tail()

Dataframe Shape:  (1209, 27)

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prénom,EQUIPE,Présence brute (min),Pause (min),Présente nette (min),Traitement (min),Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré
262,2022-04-24,NaN,NaN,NaN,NaN,NaN,NaN,0.030521,NaN,NaN,NaN,NaN,NaN,NaN,FR,Employee_29,TEAM_2,104.0,0.0,104.0,43.0,0.6,1.0,1.0,0.0,0.25,0.0
263,2022-04-26,NaN,NaN,NaN,NaN,NaN,NaN,0.000301,NaN,NaN,NaN,NaN,NaN,NaN,FR,Employee_29,TEAM_2,122.0,0.0,122.0,1.0,0.5,4.0,1.0,0.0,0.50,0.0
264,2022-04-27,NaN,NaN,NaN,NaN,NaN,NaN,0.005104,NaN,NaN,NaN,NaN,NaN,NaN,FR,Employee_29,TEAM_2,168.0,0.0,168.0,29.0,0.7,4.0,2.0,0.0,0.50,0.0
265,2022-04-26,NaN,NaN,NaN,NaN,NaN,NaN,0.000301,NaN,NaN,NaN,NaN,NaN,NaN,FR,Employee_14,TEAM_2,122.0,0.0,122.0,1.0,0.5,4.0,1.0,0.0,0.50,0.0
266,2022-04-27,NaN,NaN,NaN,NaN,NaN,NaN,0.005104,NaN,NaN,NaN,NaN,NaN,NaN,FR,Employee_14,TEAM_2,168.0,0.0,168.0,29.0,0.7,4.0,2.0,0.0,0.50,0.0

In [29]:
# IN order to be able to concatinate all the df
# we need to have the same number of columns
# we need to have the same columns names

In [30]:
# create a list with commun columns names for al df
columns = ['Date', 'Name', 'Team', 'Raw Presence (min)', 'Pause (min)',
       'Net Presence (min)', 'Treatement (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country']

In [31]:
# rename df columns for fr and de

de.columns= columns
fr.columns = columns

frames= [de, uk, fr]
# concatenate all df into a single one
df = pd.concat(frames)

# check dataframe shape
print('Dataframe Shape: ', df.shape)

df.head()

Dataframe Shape:  (1209, 26)

,Date,Name,Team,Raw Presence (min),Pause (min),Net Presence (min),Treatement (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prénom,EQUIPE,Présence brute (min),Présente nette (min),Traitement (min),Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102.0,4.0,00:02:08,0.6,2.0,1.0,0.00,0.25,0.00,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299.0,168.0,00:42:00,0.4,4.0,2.0,0.50,0.75,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478.0,275.0,00:16:12,2.0,17.0,16.0,0.75,1.00,0.75,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427.0,142.0,00:12:56,1.4,11.0,10.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482.0,129.0,00:16:12,1.0,8.0,8.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
print('Final Excel sheet now generated at the same location:')
# save excel in the indicated location
df.to_excel("Consolidation_HR\\Consolidated.xlsx", index=False)

Final Excel sheet now generated at the same location:

In [35]:
# create excel writer
writer = pd.ExcelWriter('Consolidation_HR\\Consolidated_by_sheet.xlsx')
# write dataframe to excel sheet named 'marks'
uk.to_excel(writer, 'UK')
fr.to_excel(writer, 'FR')
de.to_excel(writer, 'DE')
# save the excel file
writer.save()
writer.close()

C:\Users\Cristina\anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

## Datetime manipulation

example of date manipulation

# Pandas

In [ ]:
# syntax , comments
# variables, data types
# lists
#strings
# tuples
# dictionaries
# functions
# class objects

In [41]:
# 1. loop, iteration
# 2. check for Nulls
# 3. select
# 4. filter
# 5. group by
# 6.pivot
# 7.duplicates
# 8.operations
# 9.identation
# 10.list, tuple, dict

## 1.Loops

In [36]:
# visualize code execution
# https://pythontutor.com/python-debugger.html#mode=edit

groceries = ['Apple','Orange', 'Banana', 'Kiwi']
for item in groceries:
    print(item)

Apple
Orange
Banana
Kiwi

In [37]:
kev_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5]]
kev_list

[['Apple', 4], ['Orange', 2], ['Banana', 6], ['Kiwi', 5]]

In [38]:
for groceries in kev_list:
    print(groceries)

['Apple', 4]
['Orange', 2]
['Banana', 6]
['Kiwi', 5]

In [39]:
l= kev_list.copy()
flat_list = []
for sublist in l:
    for item in sublist:
        flat_list.append(item)
flat_list

['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

In [40]:
# iterate through a nested loop 
flat_list = [item for sublist in l for item in sublist]
flat_list

['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

# Budget

In [134]:
# Retrieve current working directory (`cwd`)
cwd = os.getcwd()
cwd

'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation'

# Read , import excel

In [135]:
# overview of a sheet
import pandas as pd

filename='Budget_raw.xlsx'
df = pd.read_excel(filename, index_col=None, header=0)
df = pd.DataFrame(df)

print('df dimensions: ', df.shape)
print('df lengh: ', len(df))
print('df columns: ', df.columns)
# display first 8 rows
df.head(8)

df dimensions:  (1937, 15)
df lengh:  1937
df columns:  Index(['Business', 'Department', 'Region', 'Jan Income', 'Feb Income',
       'Mar Income', 'Apr Income', 'May Income', 'Jun Income',
       'Jan Expenditure', 'Feb Expenditure', 'Mar Expenditure',
       'Apr Expenditure', 'May Expenditure', 'Jun Expenditure'],
      dtype='object')

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71
5,B2C_1,Loans,AT,5867.90,7334.88,6102.62,4987.72,6043.94,6396.01,2229.34,2162.46,2551.70,2908.94,3112.57,3237.07
6,B2C_1,Loans,AT,5824.70,6814.90,6989.64,4543.27,6465.42,5649.96,2199.00,1737.21,2015.16,2115.92,1883.17,1977.33
7,B2C_1,Loans,AT,5924.95,5391.70,4976.96,7346.94,6102.70,5806.45,3924.12,3767.16,4068.53,3987.16,4505.49,3964.83

In [136]:
# check data dypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1937 entries, 0 to 1936
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Business         1937 non-null   object
 1   Department       1937 non-null   object
 2   Region           1937 non-null   object
 3   Jan Income       1937 non-null   float64
 4   Feb Income       1937 non-null   float64
 5   Mar Income       1937 non-null   float64
 6   Apr Income       1937 non-null   float64
 7   May Income       1937 non-null   float64
 8   Jun Income       1937 non-null   float64
 9   Jan Expenditure  1937 non-null   float64
 10  Feb Expenditure  1937 non-null   float64
 11  Mar Expenditure  1937 non-null   float64
 12  Apr Expenditure  1937 non-null   float64
 13  May Expenditure  1937 non-null   float64
 14  Jun Expenditure  1937 non-null   float64
dtypes: float64(12), object(3)
memory usage: 227.1+ KB

In [139]:
# unqique() function helps you to check the the distinct variables

print('nb of distinct of buisenesses: ', df['Business'].unique())
print('nb of distinct of departm: ', df['Department'].unique())
print('nb of distinct of Regions: ', df['Region'].unique())

nb of distinct of buisenesses:  ['B2C_1' 'B2B' 'Fleet' 'B2C_2']
nb of distinct of departm:  ['Loans' 'Services' 'Assistance' 'Maintenance' 'Fees']
nb of distinct of Regions:  ['AT' 'BE' 'DE' 'DK' 'FR' 'IE' 'IT' 'NL' 'PL' 'PT' 'UK']

In [140]:
# save them

business = df['Business'].unique()
department = df['Department'].unique()
regions = df['Region'].unique()

print('nb of distinct of buisenesses: ', len(business), business)
print('nb of distinct of departm: ', len(department), department)
print('nb of distinct of Regions: ', len(regions), regions)

nb of distinct of buisenesses:  4 ['B2C_1' 'B2B' 'Fleet' 'B2C_2']
nb of distinct of departm:  5 ['Loans' 'Services' 'Assistance' 'Maintenance' 'Fees']
nb of distinct of Regions:  11 ['AT' 'BE' 'DE' 'DK' 'FR' 'IE' 'IT' 'NL' 'PL' 'PT' 'UK']

# Openpyxl

In [267]:
# load a specific spreadsheet
# be carefull, the excel file should be closed on your computer in order to access it
from openpyxl import load_workbook # necesserry library

filename = 'Budget_raw.xlsx'
wb = load_workbook(filename= filename, #relative path
                   #read_only=True, # read only data omitting 
                   data_only =True) # omit formulas or charts

In [142]:
# get sheetnames of the workbook
wb.sheetnames

['Data', 'Department']

# First MODULE

## Working with Sheet

In [143]:
sheet = wb['Data']
type(sheet)

openpyxl.worksheet.worksheet.Worksheet

In [144]:
# sheet title
sheet.title

'Data'

In [145]:
# get nb of rows of a sheet
print(sheet.max_row)

# get nb of columns of a sheet
print(sheet.max_column)

4366

16

In [147]:
# create a new sheet
wb.create_sheet(title='Department_new')
# check sheet names
wb.sheetnames

['Data', 'Department', 'Department_new']

In [148]:
# save the new workbook 
wb.save('Budget_1.xlsx')

 Create a new sheet

In [ ]:
# create sheet 'Department_new'
std= wb['Department_new'] # create reference to the sheet

In [465]:
# create sheet 'Department_new'
std= wb['Department_new'] # create reference to the sheet# delete a sheet

wb.remove(std) # remove the sheet at indicated reference
wb.sheetnames

# save the new workbook 
wb.save('Budget_1.xlsx')

## Read data from cell

In [466]:
# read the cell located at E2
sheet['E2'].value

4680.71

In [467]:
# to modify this cell
sheet['E2'] = 5020
sheet['E2'].value

5020

In [149]:
# find location

coord = sheet['E2']
print(coord.row)
print(coord.column)

2
5

In [150]:
# access a cell

ref = sheet.cell(row=2, column=5)
print(ref)
ref.value

<Cell 'Data'.E2>

4680.71

In [151]:
# Access all cells from A1 to D11

for row in sheet["A1:D11"]:
    print ([x.value for x in row])

['Business', 'Department', 'Region', 'Jan Income']
['B2C_1', 'Loans', 'AT', 5924.95]
['B2C_1', 'Loans', 'AT', 5924.95]
['B2C_1', 'Loans', 'AT', 5924.95]
['B2C_1', 'Services', 'AT', 5924.95]
['B2C_1', 'Loans', 'AT', 5924.95]
['B2C_1', 'Loans', 'AT', 5867.9]
['B2C_1', 'Loans', 'AT', 5824.700000000001]
['B2C_1', 'Loans', 'AT', 5924.95]
['B2C_1', 'Loans', 'AT', 5924.95]
['B2B', 'Assistance', 'AT', 663.75]

In [152]:
# save the workbook
wb.save('Budget_1.xlsx')

## Read rows and columns

Rows

In [153]:
# create a loop, not the last item
for i in range(1,5):
    print(i)

1
2
3
4

In [154]:
# read all values from 1st row
print('nb of rows: ' , sheet.max_row)
print('nb of columns: ' , sheet.max_column)

# iterate the 1 row values of the sheet
for i in range(1, sheet.max_column+1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=1, column=i)
    print(ref.column, ref.value)

nb of rows:  4366
nb of columns:  16
1 Business
2 Department
3 Region
4 Jan Income
5 Feb Income
6 Mar Income
7 Apr Income
8 May Income
9 Jun Income
10 Jan Expenditure
11 Feb Expenditure
12 Mar Expenditure
13 Apr Expenditure
14 May Expenditure
15 Jun Expenditure
16 None

In [155]:
# iterate the 1 row values of the sheet
# what hapens if we not add + 1 in the range function
for i in range(1, sheet.max_column):# without + 1
    ref = sheet.cell(row=1, column=i)
    print(ref.value)

Business
Department
Region
Jan Income
Feb Income
Mar Income
Apr Income
May Income
Jun Income
Jan Expenditure
Feb Expenditure
Mar Expenditure
Apr Expenditure
May Expenditure
Jun Expenditure

In [156]:
# second row 
for i in range(2, sheet.max_column+1):
    ref = sheet.cell(row=2, column=i)
    print(ref.value)

Loans
AT
5924.95
4680.71
7406.19
7169.19
7406.19
5213.96
5178.13
3883.6
3534.08
4240.9
3731.99
4217.15
None

In [157]:
# row up to a certain column (only Income andExpenditure columns)
for i in range(1, 16):
    ref = sheet.cell(row=1, column=i)
    print(i, ref.value)

1 Business
2 Department
3 Region
4 Jan Income
5 Feb Income
6 Mar Income
7 Apr Income
8 May Income
9 Jun Income
10 Jan Expenditure
11 Feb Expenditure
12 Mar Expenditure
13 Apr Expenditure
14 May Expenditure
15 Jun Expenditure

In [158]:
# find reference by cell value
# find column number of column Jan Income
for i in range(1, sheet.max_column+1):# without + 1
    ref = sheet.cell(row=1, column=i)
    if ref.value == 'Jan Income':
        print('the column nb for Jan Income is: ', ref.column)

the column nb for Jan Income is:  4

<bold>iter_rows</bold>

Produces cells from the worksheet, by row. Specify the iteration range using indices of rows and columns.

If no indices are specified the range starts at A1.

If no cells are in the worksheet an empty tuple will be returned.

In [159]:
# it will read row (==> horizontally)
for row in sheet.iter_rows(min_row=1, # smallest row index (1-based index)
                           min_col=1, # smallest column index (1-based index)
                           max_row=2, # largest row index (1-based index)
                           max_col=4): # largest row index (1-based index)
    for cell in row:
        print(cell.row, cell.column, cell.value) #change column number for any cell

1 1 Business
1 2 Department
1 3 Region
1 4 Jan Income
2 1 B2C_1
2 2 Loans
2 3 AT
2 4 5924.95

In [160]:
# read Jan Income only for Loans rows
# it will read row (==> horizontally)
for row in sheet.iter_rows(): 
    for cell in row:
        if cell.value == "Loans":
            print(sheet.cell(row=cell.row, column=4).value)

5924.95
5924.95
5924.95
5924.95
5867.9
5824.700000000001
5924.95
5924.95
5924.95
4900.7
5499.8
4698
4294.150000000001
4640.950000000001
3524.75
3499.6499999999996
2406.652564102565
2093.15
2114.35
2057.85
1956.9
1882.25
1991.5
694
5924.95
5858.6
5924.95
5924.95
5924.95
5924.95
5924.95
5695.8
5924.95
5924.95
5881.860000000001
5924.95
5924.95
5924.95
5924.95
5924.95
5765.349999999999
5547.7
5924.95
5924.95
5596.9625
5652.759999999999
4682.05
5125.96
5421.91
4805.35
4807.45
4272.25
4625.2625
4212.95
4187.25
4172
4032.6
3589.35
3158.1375000000003
3077.2000000000003
3016.2
2742.30769230769
2711.7599999999998
2807.375
2545.6
2284.81
2030
2042.375
1700.5
1227.15
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5722.799999999999
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5713.35
5517.174999999999
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5736.65
5924.95
5924.95
5924.95
5481.950000000001
5924.95
5709.6
5639.349999999999
5206.5
5652.75
5326.16
4827.55
4571.645192307689
4743.15
5219.2
4646.21
4635.5
4744.1375
4388.65
4138
4172.4
4439.3
3972.5
3971
4074.8374999999996
3525.5
3743.4500000000003
3401.9
3509.1000000000004
3351.475
3357.7999999999997
3337.9
3289
3220.2
3138.125
3116.375
3106.2
3255.96
3054.3
3527.5
2908.05
2940.6
2668.9875
2851.45
2846.5
2835.3500000000004
2683.75
2580.9500000000003
2326.95
2357.55
2351.95
2280.95
2240.35
2297.2
1523.15
590.6125
0
5924.95
5924.95
5924.95
5924.95
5684.85
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5213.973076923101
5924.95
5141.900000000001
5008.7
5327.262500000001
4956.7
5012.6
4602.15
4715.8
4591.4
4024.5
3951.71282051282
3918.35
3920.725
3923.05
3887.45
3838.6875
3830.7
3797.1243589743603
3789.6875
3448.785
3580.05
3266.8325
2801.1000000000004
2742.7
2684.3
2587.7999999999997
2694.4
2408.1
2317.0249999999996
2214.8500000000004
2112.0750000000003
2060.1875
1972.1125000000002
1885
1777.75
1634.7
1569.3375
1272.5
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5856
5682.224999999999
5924.95
5924.95
5924.95
5841.1125
5398.35
5924.95
5924.95
5392.35
5924.95
5659.51
5924.95
5331.45
5924.95
4952.6625
4600.86923076923
4642.25
4612.3099999999995
4371.05
4670.0599999999995
4383.95
4329.35
4698.54871794872
4001.8
3950.1
3857.3500000000004
3844.5499999999997
3665.4500000000003
3654.75
3878.8
3370.65
3312.8875
3173.2999999999997
3160.6858974359
3129.95
3057.2000000000003
3039.7000000000003
2812.1749999999997
2943.6625
2859.0499999999997
2760.55
2717.86923076923
2461.6
2218.8
2150.1499999999996
2028.4
2028.95
1669.5500000000002
685.71
500
5924.95
5618.025
5924.95
5924.95
5409.700000000001
5044.9625
4992.95
4629.25
3747.7999999999997
3623.35
3441.825
3254.1000000000004
3175.2
2729.5375000000004
1984.67
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5922.45
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5751.0875
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5286.547500000001
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5555.5
5924.95
5421.096153846151
5924.95
5750.5
5212.75
5924.95
5327.200000000001
5924.95
5924.95
5836.35
5924.95
5791.4125
4875.400000000001
5138.049999999999
4775.299999999999
4567.45
4692.65
4613.82
4368.575
4884.9
4560.8
4812.43237179487
4279.700000000001
4903.75
4220.9
4474
4060.7
3893.7
3856.125
3831.9
3663.25
3746.5499999999997
3686.5750000000003
3609.6499999999996
3596.95
3149.2599999999998
3615.7125
3082
3111.15
3078.7
3061.1000000000004
3057.1
3023.8
3091.3999999999996
2970.75
2907.2000000000003
2781
2620.2999999999997
2432.75
2431.7625000000003
2345.3
1974.7
2019.4
1505
1361.3999999999999
719.5
362.5
0
5924.95
5924.95
5674.6
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924
5924.95
5924.95
5619.75
5107.200000000001
5103.95
4164.76
3946.35
3504.8500000000004
3219.2000000000003
2213
1892.45
1290.3999999999999
5856.4375
5924.95
5924.95
5924.95
5924.95
5924.95
5878.049999999999
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5887.9807692307495
5924.95
5924.95
5924.95
5732.508974358951
5924.95
5924.95
5924.95
5924.95
5488.625
5924.95
5840.5
5924.95
5058.15
5924.95
5010.875
4770.15
5602.1
5326.849999999999
5924.95
4834.92
5309.349999999999
4920.45
4988.8
4606.650000000001
4928.25
4661.15
4579.610000000001
4570.9
4294.700000000001
4236.85
4478.4
4051.1000000000004
4003.5
4183.25
4282.35
3985.1
3944.15
4004.8500000000004
3849.9
3634.6499999999996
3610.75
3489.06
3364.75
3060.75
2500
2162.3500000000004
2037.45
1515.625
762.31
5924.95
5924.95
5924.95
5924.95
5826.45
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5191.65
5767.35
5535.8875
5924.95
5924.95
5924.95
5924.95
5422.4375
4730.5599999999995
4373.450000000001
4232.6
4027.9115384615397
4227.339743589745
3870.85
3846.15
3797.7999999999997
4195.7875
3636.5375
3562.0625
3626.75
3194.6375
3183.0200000000004
3128.25
2963.8999999999996
2386.8
1663.55
5665.900000000001
5924.95
5924.95
5924.95
5773.65
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5924.95
5680.81
5924.95
5924.95
5924.95
5869.15
5742.1
5924.95
5924.95
5924.95
5924.95
5924.95
5556.25
5924.95
5924.95
5682.537499999999
5129.625
5022.55
5924.95
5924.95
5924.95
5924.95
5924.95
4993.3
4847.25
4345.8625
4694.875
4450.849999999999
4387.25
4060.8625
4030.3500000000004
4137.900000000001
4163.75
4050.675
3845
4211.85
3772.1375
3753.65
3464.2000000000003
3392.55
3390.7375
2988.1
3006.45
2718.47
2591.25
1567.25
1443
1026.1125
600

In [161]:
# read Jan Income only for Loans rows
# it will read row (==> horizontally)
loans_jan_income=[]
for row in sheet.iter_rows(): 
    for cell in row:
        if cell.value == "Loans":
            loans_jan_income.append(sheet.cell(row=cell.row, column=4).value) 

# check how many items are in the list of loans
print('the nb of items in loan list for jan_income: ', len(loans_jan_income))
print('first 10 items in loan list for jan_income: ', loans_jan_income[:10])

the nb of items in loan list for jan_income:  591
first 10 items in loan list for jan_income:  [5924.95, 5924.95, 5924.95, 5924.95, 5867.9, 5824.700000000001, 5924.95, 5924.95, 5924.95, 4900.7]

In [162]:
# write a row

# create a list with distinct Department
deps = df.Department.unique()
print('nb of departments: ', len(deps))
print(deps)

# create a new sheet where to write the new row
wb.create_sheet(title='Department_new')

# write the row
for i in range(0, len(deps)):
    d=wb['Department_new'].cell(row=1, column=i+1)
    d.value=deps[i]
    
# see what was written
for row in wb['Department_new']["A1:D2"]:
    print ([x.value for x in row])

#save the modification in the the new workbook
wb.save('Budget_1.xlsx')

nb of departments:  5
['Loans' 'Services' 'Assistance' 'Maintenance' 'Fees']
['Loans', 'Services', 'Assistance', 'Maintenance']
[None, None, None, None]

In [163]:
# Columns
sheet.max_row

4366

In [164]:
# read the 2st column
for i in range(1, sheet.max_row+1):
    r=sheet.cell(row=i, column=2)
    print(i, r.value)

1 Department
2 Loans
3 Loans
4 Loans
5 Services
6 Loans
7 Loans
8 Loans
9 Loans
10 Loans
11 Assistance
12 Maintenance
13 Maintenance
14 Loans
15 Assistance
16 Maintenance
17 Assistance
18 Loans
19 Loans
20 Maintenance
21 Loans
22 Fees
23 Maintenance
24 Loans
25 Assistance
26 Assistance
27 Fees
28 Assistance
29 Loans
30 Fees
31 Fees
32 Assistance
33 Fees
34 Fees
35 Maintenance
36 Assistance
37 Assistance
38 Loans
39 Loans
40 Fees
41 Maintenance
42 Maintenance
43 Maintenance
44 Assistance
45 Fees
46 Assistance
47 Assistance
48 Maintenance
49 Maintenance
50 Assistance
51 Fees
52 Services
53 Fees
54 Loans
55 Assistance
56 Loans
57 Fees
58 Maintenance
59 Maintenance
60 Loans
61 Maintenance
62 Loans
63 Maintenance
64 Maintenance
65 Maintenance
66 Loans
67 Fees
68 Services
69 Loans
70 Loans
71 Maintenance
72 Maintenance
73 Maintenance
74 Maintenance
75 Maintenance
76 Fees
77 Fees
78 Maintenance
79 Fees
80 Fees
81 Fees
82 Services
83 Maintenance
84 Maintenance
85 Fees
86 Fees
87 Fees
88 Assistance
89 Assistance
90 Fees
91 Fees
92 Fees
93 Services
94 Fees
95 Services
96 Loans
97 Services
98 Fees
99 Fees
100 Assistance
101 Maintenance
102 Fees
103 Fees
104 Services
105 Maintenance
106 Services
107 Services
108 Loans
109 Loans
110 Loans
111 Assistance
112 Loans
113 Loans
114 Loans
115 Loans
116 Loans
117 Loans
118 Loans
119 Maintenance
120 Loans
121 Loans
122 Loans
123 Loans
124 Assistance
125 Fees
126 Loans
127 Maintenance
128 Loans
129 Assistance
130 Maintenance
131 Loans
132 Assistance
133 Assistance
134 Loans
135 Loans
136 Loans
137 Loans
138 Loans
139 Loans
140 Maintenance
141 Assistance
142 Assistance
143 Loans
144 Loans
145 Maintenance
146 Assistance
147 Fees
148 Loans
149 Assistance
150 Loans
151 Fees
152 Services
153 Maintenance
154 Maintenance
155 Loans
156 Loans
157 Maintenance
158 Loans
159 Loans
160 Loans
161 Fees
162 Loans
163 Maintenance
164 Maintenance
165 Maintenance
166 Maintenance
167 Loans
168 Assistance
169 Fees
170 Assistance
171 Fees
172 Fees
173 Services
174 Loans
175 Maintenance
176 Maintenance
177 Maintenance
178 Loans
179 Loans
180 Fees
181 Fees
182 Maintenance
183 Fees
184 Maintenance
185 Maintenance
186 Fees
187 Maintenance
188 Maintenance
189 Fees
190 Fees
191 Loans
192 Loans
193 Fees
194 Loans
195 Loans
196 Fees
197 Assistance
198 Fees
199 Assistance
200 Fees
201 Fees
202 Fees
203 Loans
204 Fees
205 Fees
206 Maintenance
207 Fees
208 Fees
209 Services
210 Loans
211 Maintenance
212 Loans
213 Fees
214 Maintenance
215 Fees
216 Assistance
217 Services
218 Fees
219 Loans
220 Assistance
221 Fees
222 Fees
223 Fees
224 Fees
225 Fees
226 Fees
227 Fees
228 Assistance
229 Fees
230 Fees
231 Fees
232 Loans
233 Fees
234 Maintenance
235 Fees
236 Maintenance
237 Services
238 Maintenance
239 Fees
240 Maintenance
241 Maintenance
242 Maintenance
243 Fees
244 Assistance
245 Services
246 Fees
247 Fees
248 Fees
249 Fees
250 Fees
251 Fees
252 Assistance
253 Fees
254 Fees
255 Fees
256 Fees
257 Fees
258 Fees
259 Assistance
260 Assistance
261 Maintenance
262 Maintenance
263 Services
264 Maintenance
265 Loans
266 Loans
267 Maintenance
268 Loans
269 Loans
270 Assistance
271 Loans
272 Loans
273 Loans
274 Maintenance
275 Loans
276 Loans
277 Fees
278 Loans
279 Loans
280 Loans
281 Loans
282 Loans
283 Loans
284 Loans
285 Loans
286 Assistance
287 Loans
288 Maintenance
289 Loans
290 Maintenance
291 Loans
292 Loans
293 Loans
294 Assistance
295 Loans
296 Loans
297 Loans
298 Loans
299 Loans
300 Loans
301 Fees
302 Loans
303 Assistance
304 Fees
305 Loans
306 Loans
307 Loans
308 Loans
309 Loans
310 Maintenance
311 Loans
312 Loans
313 Loans
314 Loans
315 Loans
316 Loans
317 Loans
318 Assistance
319 Fees
320 Services
321 Loans
322 Assistance
323 Fees
324 Loans
325 Loans
326 Loans
327 Assistance
328 Loans
329 Assistance
330 Assistance
331 Loans
332 Fees
333 Assistance
334 Maintenance
335 Loans
336 Loans
337 Assistance
338 Loans
339 Fees
340 Loans
341 Loans
342 Maintenance
343 Maintenance
344 Loans
345 Maintenance
346 Maintenance
347 Maintenance
348 Loans
349 Assistance
350 Loans
351 Maintenance
352 Loans
353 Maintenance
354 Fees
355 Loans
356 Loans
357 Maintenance
358 Maintenance
359 Assistance
360 Loans
361 Fees
362 Maintenance
363 Assistance
364 Fees
365 Maintenance
366 Fees
367 Assistance
368 Fees
369 Assistance
370 Assistance
371 Loans
372 Fees
373 Fees
374 Assistance
375 Assistance
376 Fees
377 Loans
378 Loans
379 Loans
380 Services
381 Loans
382 Fees
383 Fees
384 Assistance
385 Fees
386 Loans
387 Maintenance
388 Assistance
389 Fees
390 Loans
391 Fees
392 Fees
393 Loans
394 Loans
395 Assistance
396 Loans
397 Maintenance
398 Loans
399 Loans
400 Loans
401 Assistance
402 Fees
403 Maintenance
404 Maintenance
405 Fees
406 Maintenance
407 Fees
408 Loans
409 Maintenance
410 Fees
411 Maintenance
412 Assistance
413 Maintenance
414 Loans
415 Loans
416 Fees
417 Loans
418 Fees
419 Loans
420 Assistance
421 Loans
422 Fees
423 Fees
424 Assistance
425 Assistance
426 Fees
427 Fees
428 Fees
429 Assistance
430 Maintenance
431 Fees
432 Fees
433 Loans
434 Maintenance
435 Maintenance
436 Fees
437 Maintenance
438 Maintenance
439 Maintenance
440 Maintenance
441 Maintenance
442 Fees
443 Fees
444 Assistance
445 Assistance
446 Maintenance
447 Fees
448 Fees
449 Assistance
450 Loans
451 Loans
452 Loans
453 Assistance
454 Assistance
455 Fees
456 Assistance
457 Maintenance
458 Assistance
459 Fees
460 Assistance
461 Loans
462 Maintenance
463 Fees
464 Loans
465 Maintenance
466 Loans
467 Fees
468 Assistance
469 Services
470 Fees
471 Assistance
472 Maintenance
473 Maintenance
474 Fees
475 Maintenance
476 Maintenance
477 Fees
478 Fees
479 Maintenance
480 Maintenance
481 Fees
482 Maintenance
483 Maintenance
484 Fees
485 Maintenance
486 Maintenance
487 Fees
488 Fees
489 Fees
490 Fees
491 Maintenance
492 Fees
493 Fees
494 Fees
495 Maintenance
496 Fees
497 Fees
498 Maintenance
499 Fees
500 Maintenance
501 Fees
502 Fees
503 Fees
504 Fees
505 Fees
506 Maintenance
507 Loans
508 Maintenance
509 Fees
510 Assistance
511 Assistance
512 Fees
513 Fees
514 Fees
515 Assistance
516 Fees
517 Assistance
518 Maintenance
519 Fees
520 Fees
521 Fees
522 Fees
523 Fees
524 Maintenance
525 Services
526 Fees
527 Maintenance
528 Maintenance
529 Fees
530 Assistance
531 Maintenance
532 Maintenance
533 Fees
534 Fees
535 Maintenance
536 Maintenance
537 Fees
538 Maintenance
539 Fees
540 Fees
541 Maintenance
542 Fees
543 Maintenance
544 Fees
545 Services
546 Fees
547 Assistance
548 Services
549 Fees
550 Assistance
551 Maintenance
552 Fees
553 Maintenance
554 Fees
555 Fees
556 Fees
557 Fees
558 Fees
559 Fees
560 Fees
561 Assistance
562 Fees
563 Fees
564 Fees
565 Fees
566 Maintenance
567 Services
568 Fees
569 Fees
570 Fees
571 Fees
572 Fees
573 Fees
574 Fees
575 Fees
576 Fees
577 Maintenance
578 Fees
579 Assistance
580 Fees
581 Fees
582 Fees
583 Maintenance
584 Fees
585 Fees
586 Services
587 Loans
588 Assistance
589 Services
590 Fees
591 Services
592 Services
593 Services
594 Fees
595 Maintenance
596 Services
597 Assistance
598 Loans
599 Loans
600 Loans
601 Loans
602 Loans
603 Loans
604 Assistance
605 Assistance
606 Loans
607 Loans
608 Loans
609 Loans
610 Maintenance
611 Maintenance
612 Loans
613 Loans
614 Maintenance
615 Loans
616 Loans
617 Loans
618 Fees
619 Fees
620 Loans
621 Maintenance
622 Loans
623 Loans
624 Loans
625 Loans
626 Loans
627 Maintenance
628 Fees
629 Loans
630 Maintenance
631 Loans
632 Loans
633 Assistance
634 Maintenance
635 Fees
636 Loans
637 Assistance
638 Maintenance
639 Fees
640 Loans
641 Maintenance
642 Loans
643 Loans
644 Assistance
645 Loans
646 Loans
647 Maintenance
648 Assistance
649 Fees
650 Loans
651 Loans
652 Maintenance
653 Loans
654 Loans
655 Maintenance
656 Loans
657 Fees
658 Fees
659 Fees
660 Maintenance
661 Loans
662 Assistance
663 Maintenance
664 Fees
665 Fees
666 Assistance
667 Assistance
668 Assistance
669 Maintenance
670 Assistance
671 Loans
672 Maintenance
673 Maintenance
674 Maintenance
675 Maintenance
676 Fees
677 Fees
678 Loans
679 Fees
680 Fees
681 Maintenance
682 Fees
683 Services
684 Assistance
685 Fees
686 Maintenance
687 Maintenance
688 Loans
689 Assistance
690 Maintenance
691 Maintenance
692 Loans
693 Loans
694 Assistance
695 Loans
696 Fees
697 Fees
698 Maintenance
699 Services
700 Loans
701 Fees
702 Assistance
703 Loans
704 Maintenance
705 Assistance
706 Loans
707 Fees
708 Services
709 Loans
710 Fees
711 Maintenance
712 Loans
713 Fees
714 Assistance
715 Loans
716 Loans
717 Fees
718 Fees
719 Loans
720 Fees
721 Fees
722 Loans
723 Services
724 Maintenance
725 Fees
726 Fees
727 Assistance
728 Fees
729 Loans
730 Services
731 Assistance
732 Fees
733 Maintenance
734 Loans
735 Fees
736 Assistance
737 Fees
738 Fees
739 Maintenance
740 Fees
741 Fees
742 Services
743 Services
744 Maintenance
745 Fees
746 Maintenance
747 Fees
748 Fees
749 Maintenance
750 Maintenance
751 Maintenance
752 Fees
753 Assistance
754 Loans
755 Maintenance
756 Loans
757 Loans
758 Fees
759 Loans
760 Loans
761 Loans
762 Loans
763 Loans
764 Loans
765 Loans
766 Loans
767 Loans
768 Maintenance
769 Loans
770 Assistance
771 Fees
772 Loans
773 Loans
774 Maintenance
775 Loans
776 Fees
777 Loans
778 Loans
779 Loans
780 Loans
781 Loans
782 Loans
783 Loans
784 Loans
785 Loans
786 Loans
787 Loans
788 Loans
789 Loans
790 Loans
791 Loans
792 Loans
793 Fees
794 Loans
795 Loans
796 Maintenance
797 Maintenance
798 Assistance
799 Loans
800 Loans
801 Loans
802 Loans
803 Assistance
804 Loans
805 Maintenance
806 Maintenance
807 Assistance
808 Maintenance
809 Maintenance
810 Assistance
811 Maintenance
812 Maintenance
813 Assistance
814 Loans
815 Loans
816 Assistance
817 Fees
818 Loans
819 Loans
820 Loans
821 Loans
822 Loans
823 Fees
824 Maintenance
825 Loans
826 Assistance
827 Loans
828 Fees
829 Fees
830 Fees
831 Fees
832 Maintenance
833 Assistance
834 Assistance
835 Assistance
836 Maintenance
837 Loans
838 Loans
839 Loans
840 Assistance
841 Loans
842 Assistance
843 Loans
844 Loans
845 Fees
846 Loans
847 Loans
848 Assistance
849 Loans
850 Maintenance
851 Fees
852 Maintenance
853 Maintenance
854 Loans
855 Maintenance
856 Maintenance
857 Fees
858 Loans
859 Fees
860 Fees
861 Maintenance
862 Maintenance
863 Fees
864 Loans
865 Maintenance
866 Loans
867 Assistance
868 Maintenance
869 Maintenance
870 Assistance
871 Fees
872 Assistance
873 Fees
874 Maintenance
875 Loans
876 Fees
877 Assistance
878 Maintenance
879 Fees
880 Maintenance
881 Maintenance
882 Services
883 Loans
884 Maintenance
885 Loans
886 Fees
887 Fees
888 Fees
889 Fees
890 Fees
891 Loans
892 Loans
893 Maintenance
894 Maintenance
895 Fees
896 Fees
897 Fees
898 Fees
899 Fees
900 Maintenance
901 Fees
902 Fees
903 Fees
904 Services
905 Fees
906 Assistance
907 Assistance
908 Fees
909 Fees
910 Fees
911 Fees
912 Maintenance
913 Assistance
914 Maintenance
915 Maintenance
916 Assistance
917 Fees
918 Fees
919 Assistance
920 Assistance
921 Fees
922 Maintenance
923 Maintenance
924 Services
925 Fees
926 Fees
927 Maintenance
928 Maintenance
929 Fees
930 Fees
931 Assistance
932 Loans
933 Maintenance
934 Fees
935 Assistance
936 Services
937 Fees
938 Fees
939 Fees
940 Fees
941 Maintenance
942 Fees
943 Fees
944 Fees
945 Fees
946 Fees
947 Fees
948 Maintenance
949 Fees
950 Fees
951 Fees
952 Fees
953 Maintenance
954 Fees
955 Fees
956 Fees
957 Fees
958 Fees
959 Fees
960 Fees
961 Assistance
962 Fees
963 Fees
964 Fees
965 Fees
966 Maintenance
967 Fees
968 Maintenance
969 Fees
970 Maintenance
971 Fees
972 Assistance
973 Fees
974 Fees
975 Fees
976 Fees
977 Fees
978 Maintenance
979 Fees
980 Maintenance
981 Loans
982 Maintenance
983 Maintenance
984 Maintenance
985 Loans
986 Maintenance
987 Services
988 Services
989 Services

990 Fees
991 Services
992 Services
993 Assistance
994 Maintenance
995 Loans
996 Maintenance
997 Loans
998 Services
999 Loans
1000 Assistance
1001 Loans
1002 Fees
1003 Loans
1004 Loans
1005 Loans
1006 Assistance
1007 Loans
1008 Maintenance
1009 Assistance
1010 Loans
1011 Loans
1012 Services
1013 Maintenance
1014 Fees
1015 Loans
1016 Maintenance
1017 Loans
1018 Maintenance
1019 Loans
1020 Fees
1021 Fees
1022 Fees
1023 Assistance
1024 Loans
1025 Fees
1026 Fees
1027 Assistance
1028 Fees
1029 Maintenance
1030 Maintenance
1031 Loans
1032 Maintenance
1033 Maintenance
1034 Maintenance
1035 Fees
1036 Fees
1037 Assistance
1038 Fees
1039 Fees
1040 Maintenance
1041 Fees
1042 Fees
1043 Fees
1044 Fees
1045 Fees
1046 Fees
1047 Assistance
1048 Fees
1049 Maintenance
1050 Fees
1051 Services
1052 Loans
1053 Fees
1054 Loans
1055 Loans
1056 Loans
1057 Loans
1058 Loans
1059 Loans
1060 Fees
1061 Loans
1062 Fees
1063 Loans
1064 Assistance
1065 Fees
1066 Maintenance
1067 Loans
1068 Loans
1069 Loans
1070 Loans
1071 Loans
1072 Loans
1073 Loans
1074 Loans
1075 Assistance
1076 Loans
1077 Loans
1078 Loans
1079 Loans
1080 Loans
1081 Loans
1082 Loans
1083 Loans
1084 Loans
1085 Loans
1086 Loans
1087 Loans
1088 Maintenance
1089 Loans
1090 Loans
1091 Loans
1092 Loans
1093 Loans
1094 Loans
1095 Fees
1096 Assistance
1097 Loans
1098 Loans
1099 Loans
1100 Loans
1101 Loans
1102 Assistance
1103 Assistance
1104 Loans
1105 Loans
1106 Maintenance
1107 Loans
1108 Loans
1109 Loans
1110 Loans
1111 Loans
1112 Assistance
1113 Loans
1114 Loans
1115 Loans
1116 Loans
1117 Fees
1118 Loans
1119 Maintenance
1120 Loans
1121 Assistance
1122 Loans
1123 Assistance
1124 Loans
1125 Fees
1126 Loans
1127 Maintenance
1128 Loans
1129 Fees
1130 Maintenance
1131 Loans
1132 Loans
1133 Loans
1134 Fees
1135 Fees
1136 Loans
1137 Loans
1138 Loans
1139 Fees
1140 Loans
1141 Fees
1142 Maintenance
1143 Loans
1144 Loans
1145 Maintenance
1146 Loans
1147 Fees
1148 Fees
1149 Maintenance
1150 Loans
1151 Loans
1152 Loans
1153 Maintenance
1154 Maintenance
1155 Maintenance
1156 Loans
1157 Maintenance
1158 Fees
1159 Loans
1160 Loans
1161 Maintenance
1162 Loans
1163 Loans
1164 Assistance
1165 Assistance
1166 Assistance
1167 Loans
1168 Loans
1169 Assistance
1170 Loans
1171 Loans
1172 Assistance
1173 Assistance
1174 Fees
1175 Fees
1176 Loans
1177 Fees
1178 Maintenance
1179 Fees
1180 Fees
1181 Fees
1182 Maintenance
1183 Loans
1184 Assistance
1185 Maintenance
1186 Maintenance
1187 Fees
1188 Fees
1189 Maintenance
1190 Assistance
1191 Fees
1192 Fees
1193 Fees
1194 Assistance
1195 Loans
1196 Fees
1197 Loans
1198 Maintenance
1199 Loans
1200 Loans
1201 Assistance
1202 Maintenance
1203 Loans
1204 Loans
1205 Maintenance
1206 Assistance
1207 Loans
1208 Maintenance
1209 Loans
1210 Fees
1211 Assistance
1212 Fees
1213 Assistance
1214 Loans
1215 Fees
1216 Assistance
1217 Fees
1218 Fees
1219 Maintenance
1220 Maintenance
1221 Loans
1222 Fees
1223 Fees
1224 Fees
1225 Loans
1226 Loans
1227 Fees
1228 Loans
1229 Fees
1230 Fees
1231 Assistance
1232 Fees
1233 Services
1234 Maintenance
1235 Maintenance
1236 Assistance
1237 Fees
1238 Fees
1239 Loans
1240 Fees
1241 Fees
1242 Fees
1243 Loans
1244 Fees
1245 Maintenance
1246 Maintenance
1247 Fees
1248 Fees
1249 Fees
1250 Assistance
1251 Assistance
1252 Fees
1253 Fees
1254 Fees
1255 Fees
1256 Maintenance
1257 Fees
1258 Assistance
1259 Fees
1260 Assistance
1261 Fees
1262 Fees
1263 Maintenance
1264 Fees
1265 Maintenance
1266 Fees
1267 Loans
1268 Fees
1269 Loans
1270 Fees
1271 Fees
1272 Maintenance
1273 Assistance
1274 Assistance
1275 Fees
1276 Fees
1277 Assistance
1278 Assistance
1279 Assistance
1280 Maintenance
1281 Fees
1282 Fees
1283 Fees
1284 Fees
1285 Fees
1286 Fees
1287 Maintenance
1288 Maintenance
1289 Fees
1290 Fees
1291 Fees
1292 Fees
1293 Fees
1294 Fees
1295 Fees
1296 Fees
1297 Assistance
1298 Fees
1299 Maintenance
1300 Loans
1301 Fees
1302 Maintenance
1303 Maintenance
1304 Assistance
1305 Maintenance
1306 Assistance
1307 Loans
1308 Assistance
1309 Fees
1310 Services
1311 Maintenance
1312 Loans
1313 Loans
1314 Loans
1315 Loans
1316 Loans
1317 Loans
1318 Loans
1319 Loans
1320 Loans
1321 Loans
1322 Loans
1323 Loans
1324 Fees
1325 Maintenance
1326 Loans
1327 Loans
1328 Loans
1329 Loans
1330 Assistance
1331 Loans
1332 Maintenance
1333 Services
1334 Fees
1335 Loans
1336 Assistance
1337 Loans
1338 Maintenance
1339 Maintenance
1340 Fees
1341 Assistance
1342 Loans
1343 Fees
1344 Assistance
1345 Loans
1346 Maintenance
1347 Assistance
1348 Fees
1349 Fees
1350 Assistance
1351 Fees
1352 Assistance
1353 Fees
1354 Assistance
1355 Maintenance
1356 Fees
1357 Maintenance
1358 Fees
1359 Maintenance
1360 Assistance
1361 Fees
1362 Fees
1363 Loans
1364 Services
1365 Fees
1366 Assistance
1367 Fees
1368 Services
1369 Loans
1370 Assistance
1371 Assistance
1372 Fees
1373 Maintenance
1374 Fees
1375 Assistance
1376 Assistance
1377 Fees
1378 Fees
1379 Fees
1380 Fees
1381 Fees
1382 Maintenance
1383 Maintenance
1384 Fees
1385 Assistance
1386 Fees
1387 Fees
1388 Fees
1389 Loans
1390 Maintenance
1391 Fees
1392 Fees
1393 Maintenance
1394 Maintenance
1395 Fees
1396 Fees
1397 Fees
1398 Fees
1399 Fees
1400 Maintenance
1401 Services
1402 Maintenance
1403 Fees
1404 Assistance
1405 Fees
1406 Loans
1407 Assistance
1408 Loans
1409 Loans
1410 Fees
1411 Services
1412 Loans
1413 Loans
1414 Maintenance
1415 Loans
1416 Loans
1417 Loans
1418 Loans
1419 Loans
1420 Loans
1421 Loans
1422 Loans
1423 Loans
1424 Loans
1425 Loans
1426 Loans
1427 Fees
1428 Loans
1429 Assistance
1430 Loans
1431 Loans
1432 Loans
1433 Loans
1434 Loans
1435 Loans
1436 Loans
1437 Loans
1438 Loans
1439 Assistance
1440 Fees
1441 Loans
1442 Loans
1443 Loans
1444 Loans
1445 Loans
1446 Loans
1447 Loans
1448 Loans
1449 Assistance
1450 Loans
1451 Loans
1452 Loans
1453 Loans
1454 Maintenance
1455 Loans
1456 Loans
1457 Maintenance
1458 Loans
1459 Assistance
1460 Assistance
1461 Fees
1462 Loans
1463 Loans
1464 Fees
1465 Loans
1466 Loans
1467 Maintenance
1468 Loans
1469 Loans
1470 Loans
1471 Loans
1472 Loans
1473 Loans
1474 Fees
1475 Fees
1476 Loans
1477 Loans
1478 Maintenance
1479 Fees
1480 Loans
1481 Maintenance
1482 Loans
1483 Fees
1484 Loans
1485 Maintenance
1486 Maintenance
1487 Loans
1488 Fees
1489 Maintenance
1490 Assistance
1491 Maintenance
1492 Assistance
1493 Loans
1494 Fees
1495 Assistance
1496 Fees
1497 Fees
1498 Assistance
1499 Fees
1500 Maintenance
1501 Fees
1502 Maintenance
1503 Fees
1504 Assistance
1505 Fees
1506 Loans
1507 Fees
1508 Assistance
1509 Services
1510 Fees
1511 Maintenance
1512 Fees
1513 Maintenance
1514 Maintenance
1515 Assistance
1516 Fees
1517 Fees
1518 Fees
1519 Services
1520 Assistance
1521 Fees
1522 Loans
1523 Fees
1524 Loans
1525 Fees
1526 Fees
1527 Fees
1528 Maintenance
1529 Maintenance
1530 Fees
1531 Fees
1532 Fees
1533 Assistance
1534 Fees
1535 Fees
1536 Maintenance
1537 Fees
1538 Fees
1539 Fees
1540 Maintenance
1541 Fees
1542 Maintenance
1543 Maintenance
1544 Maintenance
1545 Assistance
1546 Fees
1547 Assistance
1548 Fees
1549 Fees
1550 Loans
1551 Maintenance
1552 Maintenance
1553 Fees
1554 Maintenance
1555 Fees
1556 Fees
1557 Fees
1558 Fees
1559 Fees
1560 Fees
1561 Maintenance
1562 Fees
1563 Fees
1564 Maintenance
1565 Fees
1566 Fees
1567 Maintenance
1568 Fees
1569 Assistance
1570 Fees
1571 Fees
1572 Fees
1573 Fees
1574 Maintenance
1575 Fees
1576 Fees
1577 Fees
1578 Loans
1579 Assistance
1580 Fees
1581 Fees
1582 Services
1583 Fees
1584 Services
1585 Fees
1586 Loans
1587 Fees
1588 Loans
1589 Loans
1590 Loans
1591 Loans
1592 Loans
1593 Loans
1594 Loans
1595 Loans
1596 Loans
1597 Assistance
1598 Loans
1599 Loans
1600 Loans
1601 Maintenance
1602 Loans
1603 Loans
1604 Loans
1605 Loans
1606 Loans
1607 Loans
1608 Loans
1609 Loans
1610 Loans
1611 Fees
1612 Loans
1613 Loans
1614 Loans
1615 Loans
1616 Loans
1617 Assistance
1618 Assistance
1619 Maintenance
1620 Maintenance
1621 Loans
1622 Maintenance
1623 Maintenance
1624 Loans
1625 Maintenance
1626 Maintenance
1627 Assistance
1628 Loans
1629 Fees
1630 Maintenance
1631 Loans
1632 Assistance
1633 Loans
1634 Fees
1635 Maintenance
1636 Maintenance
1637 Loans
1638 Fees
1639 Loans
1640 Loans
1641 Assistance
1642 Loans
1643 Maintenance
1644 Loans
1645 Assistance
1646 Maintenance
1647 Loans
1648 Assistance
1649 Fees
1650 Loans
1651 Maintenance
1652 Loans
1653 Assistance
1654 Fees
1655 Assistance
1656 Maintenance
1657 Maintenance
1658 Fees
1659 Assistance
1660 Fees
1661 Maintenance
1662 Loans
1663 Loans
1664 Maintenance
1665 Loans
1666 Assistance
1667 Fees
1668 Fees
1669 Assistance
1670 Fees
1671 Loans
1672 Fees
1673 Maintenance
1674 Assistance
1675 Assistance
1676 Maintenance
1677 Maintenance
1678 Loans
1679 Fees
1680 Fees
1681 Assistance
1682 Fees
1683 Fees
1684 Maintenance
1685 Assistance
1686 Assistance
1687 Fees
1688 Maintenance
1689 Maintenance
1690 Fees
1691 Fees
1692 Fees
1693 Fees
1694 Services
1695 Maintenance
1696 Fees
1697 Maintenance
1698 Fees
1699 Fees
1700 Maintenance
1701 Fees
1702 Fees
1703 Fees
1704 Assistance
1705 Services
1706 Maintenance
1707 Assistance
1708 Fees
1709 Fees
1710 Loans
1711 Assistance
1712 Maintenance
1713 Fees
1714 Assistance
1715 Fees
1716 Maintenance
1717 Fees
1718 Fees
1719 Fees
1720 Fees
1721 Assistance
1722 Fees
1723 Fees
1724 Fees
1725 Fees
1726 Fees
1727 Fees
1728 Fees
1729 Fees
1730 Services
1731 Fees
1732 Maintenance
1733 Fees
1734 Maintenance
1735 Fees
1736 Fees
1737 Maintenance
1738 Maintenance
1739 Maintenance
1740 Maintenance
1741 Fees
1742 Fees
1743 Maintenance
1744 Fees
1745 Fees
1746 Fees
1747 Assistance
1748 Fees
1749 Maintenance
1750 Maintenance
1751 Services
1752 Maintenance
1753 Services
1754 Loans
1755 Loans
1756 Loans
1757 Loans
1758 Loans
1759 Loans
1760 Loans
1761 Assistance
1762 Loans
1763 Loans
1764 Maintenance
1765 Fees
1766 Loans
1767 Assistance
1768 Loans
1769 Fees
1770 Fees
1771 Loans
1772 Loans
1773 Loans
1774 Loans
1775 Loans
1776 Loans
1777 Services
1778 Fees
1779 Loans
1780 Fees
1781 Loans
1782 Assistance
1783 Fees
1784 Maintenance
1785 Fees
1786 Loans
1787 Assistance
1788 Loans
1789 Assistance
1790 Loans
1791 Loans
1792 Loans
1793 Loans
1794 Loans
1795 Loans
1796 Loans
1797 Fees
1798 Loans
1799 Loans
1800 Loans
1801 Fees
1802 Loans
1803 Loans
1804 Assistance
1805 Loans
1806 Loans
1807 Loans
1808 Loans
1809 Loans
1810 Assistance
1811 Loans
1812 Assistance
1813 Loans
1814 Fees
1815 Loans
1816 Loans
1817 Services

1818 Loans
1819 Loans
1820 Assistance
1821 Loans
1822 Loans
1823 Loans
1824 Loans
1825 Maintenance
1826 Assistance
1827 Assistance
1828 Maintenance
1829 Assistance
1830 Loans
1831 Fees
1832 Maintenance
1833 Loans
1834 Loans
1835 Loans
1836 Services
1837 Loans
1838 Loans
1839 Loans
1840 Assistance
1841 Services
1842 Maintenance
1843 Services
1844 Fees
1845 Fees
1846 Fees
1847 Assistance
1848 Assistance
1849 Maintenance
1850 Maintenance
1851 Loans
1852 Maintenance
1853 Maintenance
1854 Loans
1855 Maintenance
1856 Fees
1857 Fees
1858 Maintenance
1859 Maintenance
1860 Fees
1861 Services
1862 Maintenance
1863 Loans
1864 Loans
1865 Maintenance
1866 Fees
1867 Maintenance
1868 Maintenance
1869 Assistance
1870 Fees
1871 Assistance
1872 Maintenance
1873 Maintenance
1874 Assistance
1875 Maintenance
1876 Fees
1877 Maintenance
1878 Maintenance
1879 Assistance
1880 Fees
1881 Services
1882 Maintenance
1883 Maintenance
1884 Fees
1885 Fees
1886 Assistance
1887 Maintenance
1888 Maintenance
1889 Services
1890 Fees
1891 Fees
1892 Maintenance
1893 Loans
1894 Services
1895 Maintenance
1896 Maintenance
1897 Assistance
1898 Loans
1899 Maintenance
1900 Assistance
1901 Maintenance
1902 Fees
1903 Fees
1904 Fees
1905 Maintenance
1906 Fees
1907 Assistance
1908 Services
1909 Fees
1910 Fees
1911 Fees
1912 Assistance
1913 Fees
1914 Fees
1915 Fees
1916 Fees
1917 Loans
1918 Fees
1919 Fees
1920 Fees
1921 Fees
1922 Services
1923 Maintenance
1924 Services
1925 Fees
1926 Services
1927 Fees
1928 Fees
1929 Services
1930 Fees
1931 Assistance
1932 Services
1933 Loans
1934 Maintenance
1935 Assistance
1936 Maintenance
1937 Fees
1938 Fees
1939 None
1940 None
1941 None
1942 None
1943 None
1944 None
1945 None
1946 None
1947 None
1948 None
1949 None
1950 None
1951 None
1952 None
1953 None
1954 None
1955 None
1956 None
1957 None
1958 None
1959 None
1960 None
1961 None
1962 None
1963 None
1964 None
1965 None
1966 None
1967 None
1968 None
1969 None
1970 None
1971 None
1972 None
1973 None
1974 None
1975 None
1976 None
1977 None
1978 None
1979 None
1980 None
1981 None
1982 None
1983 None
1984 None
1985 None
1986 None
1987 None
1988 None
1989 None
1990 None
1991 None
1992 None
1993 None
1994 None
1995 None
1996 None
1997 None
1998 None
1999 None
2000 None
2001 None
2002 None
2003 None
2004 None
2005 None
2006 None
2007 None
2008 None
2009 None
2010 None
2011 None
2012 None
2013 None
2014 None
2015 None
2016 None
2017 None
2018 None
2019 None
2020 None
2021 None
2022 None
2023 None
2024 None
2025 None
2026 None
2027 None
2028 None
2029 None
2030 None
2031 None
2032 None
2033 None
2034 None
2035 None
2036 None
2037 None
2038 None
2039 None
2040 None
2041 None
2042 None
2043 None
2044 None
2045 None
2046 None
2047 None
2048 None
2049 None
2050 None
2051 None
2052 None
2053 None
2054 None
2055 None
2056 None
2057 None
2058 None
2059 None
2060 None
2061 None
2062 None
2063 None
2064 None
2065 None
2066 None
2067 None
2068 None
2069 None
2070 None
2071 None
2072 None
2073 None
2074 None
2075 None
2076 None
2077 None
2078 None
2079 None
2080 None
2081 None
2082 None
2083 None
2084 None
2085 None
2086 None
2087 None
2088 None
2089 None
2090 None
2091 None
2092 None
2093 None
2094 None
2095 None
2096 None
2097 None
2098 None
2099 None
2100 None
2101 None
2102 None
2103 None
2104 None
2105 None
2106 None
2107 None
2108 None
2109 None
2110 None
2111 None
2112 None
2113 None
2114 None
2115 None
2116 None
2117 None
2118 None
2119 None
2120 None
2121 None
2122 None
2123 None
2124 None
2125 None
2126 None
2127 None
2128 None
2129 None
2130 None
2131 None
2132 None
2133 None
2134 None
2135 None
2136 None
2137 None
2138 None
2139 None
2140 None
2141 None
2142 None
2143 None
2144 None
2145 None
2146 None
2147 None
2148 None
2149 None
2150 None
2151 None
2152 None
2153 None
2154 None
2155 None
2156 None
2157 None
2158 None
2159 None
2160 None
2161 None
2162 None
2163 None
2164 None
2165 None
2166 None
2167 None
2168 None
2169 None
2170 None
2171 None
2172 None
2173 None
2174 None
2175 None
2176 None
2177 None
2178 None
2179 None
2180 None
2181 None
2182 None
2183 None
2184 None
2185 None
2186 None
2187 None
2188 None
2189 None
2190 None
2191 None
2192 None
2193 None
2194 None
2195 None
2196 None
2197 None
2198 None
2199 None
2200 None
2201 None
2202 None
2203 None
2204 None
2205 None
2206 None
2207 None
2208 None
2209 None
2210 None
2211 None
2212 None
2213 None
2214 None
2215 None
2216 None
2217 None
2218 None
2219 None
2220 None
2221 None
2222 None
2223 None
2224 None
2225 None
2226 None
2227 None
2228 None
2229 None
2230 None
2231 None
2232 None
2233 None
2234 None
2235 None
2236 None
2237 None
2238 None
2239 None
2240 None
2241 None
2242 None
2243 None
2244 None
2245 None
2246 None
2247 None
2248 None
2249 None
2250 None
2251 None
2252 None
2253 None
2254 None
2255 None
2256 None
2257 None
2258 None
2259 None
2260 None
2261 None
2262 None
2263 None
2264 None
2265 None
2266 None
2267 None
2268 None
2269 None
2270 None
2271 None
2272 None
2273 None
2274 None
2275 None
2276 None
2277 None
2278 None
2279 None
2280 None
2281 None
2282 None
2283 None
2284 None
2285 None
2286 None
2287 None
2288 None
2289 None
2290 None
2291 None
2292 None
2293 None
2294 None
2295 None
2296 None
2297 None
2298 None
2299 None
2300 None
2301 None
2302 None
2303 None
2304 None
2305 None
2306 None
2307 None
2308 None
2309 None
2310 None
2311 None
2312 None
2313 None
2314 None
2315 None
2316 None
2317 None
2318 None
2319 None
2320 None
2321 None
2322 None
2323 None
2324 None
2325 None
2326 None
2327 None
2328 None
2329 None
2330 None
2331 None
2332 None
2333 None
2334 None
2335 None
2336 None
2337 None
2338 None
2339 None
2340 None
2341 None
2342 None
2343 None
2344 None
2345 None
2346 None
2347 None
2348 None
2349 None
2350 None
2351 None
2352 None
2353 None
2354 None
2355 None
2356 None
2357 None
2358 None
2359 None
2360 None
2361 None
2362 None
2363 None
2364 None
2365 None
2366 None
2367 None
2368 None
2369 None
2370 None
2371 None
2372 None
2373 None
2374 None
2375 None
2376 None
2377 None
2378 None
2379 None
2380 None
2381 None
2382 None
2383 None
2384 None
2385 None
2386 None
2387 None
2388 None
2389 None
2390 None
2391 None
2392 None
2393 None
2394 None
2395 None
2396 None
2397 None
2398 None
2399 None
2400 None
2401 None
2402 None
2403 None
2404 None
2405 None
2406 None
2407 None
2408 None
2409 None
2410 None
2411 None
2412 None
2413 None
2414 None
2415 None
2416 None
2417 None
2418 None
2419 None
2420 None
2421 None
2422 None
2423 None
2424 None
2425 None
2426 None
2427 None
2428 None
2429 None
2430 None
2431 None
2432 None
2433 None
2434 None
2435 None
2436 None
2437 None
2438 None
2439 None
2440 None
2441 None
2442 None
2443 None
2444 None
2445 None
2446 None
2447 None
2448 None
2449 None
2450 None
2451 None
2452 None
2453 None
2454 None
2455 None
2456 None
2457 None
2458 None
2459 None
2460 None
2461 None
2462 None
2463 None
2464 None
2465 None
2466 None
2467 None
2468 None
2469 None
2470 None
2471 None
2472 None
2473 None
2474 None
2475 None
2476 None
2477 None
2478 None
2479 None
2480 None
2481 None
2482 None
2483 None
2484 None
2485 None
2486 None
2487 None
2488 None
2489 None
2490 None
2491 None
2492 None
2493 None
2494 None
2495 None
2496 None
2497 None
2498 None
2499 None
2500 None
2501 None
2502 None
2503 None
2504 None
2505 None
2506 None
2507 None
2508 None
2509 None
2510 None
2511 None
2512 None
2513 None
2514 None
2515 None
2516 None
2517 None
2518 None
2519 None
2520 None
2521 None
2522 None
2523 None
2524 None
2525 None
2526 None
2527 None
2528 None
2529 None
2530 None
2531 None
2532 None
2533 None
2534 None
2535 None
2536 None
2537 None
2538 None
2539 None
2540 None
2541 None
2542 None
2543 None
2544 None
2545 None
2546 None
2547 None
2548 None
2549 None
2550 None
2551 None
2552 None
2553 None
2554 None
2555 None
2556 None
2557 None
2558 None
2559 None
2560 None
2561 None
2562 None
2563 None
2564 None
2565 None
2566 None
2567 None
2568 None
2569 None
2570 None
2571 None
2572 None
2573 None
2574 None
2575 None
2576 None
2577 None
2578 None
2579 None
2580 None
2581 None
2582 None
2583 None
2584 None
2585 None
2586 None
2587 None
2588 None
2589 None
2590 None
2591 None
2592 None
2593 None
2594 None
2595 None
2596 None
2597 None
2598 None
2599 None
2600 None
2601 None
2602 None
2603 None
2604 None
2605 None
2606 None
2607 None
2608 None
2609 None
2610 None
2611 None
2612 None
2613 None
2614 None
2615 None
2616 None
2617 None
2618 None
2619 None
2620 None
2621 None
2622 None
2623 None
2624 None
2625 None
2626 None
2627 None
2628 None
2629 None
2630 None
2631 None
2632 None
2633 None
2634 None
2635 None
2636 None
2637 None
2638 None
2639 None
2640 None
2641 None
2642 None
2643 None
2644 None
2645 None
2646 None
2647 None
2648 None
2649 None
2650 None
2651 None
2652 None
2653 None
2654 None
2655 None
2656 None
2657 None
2658 None
2659 None
2660 None
2661 None
2662 None
2663 None
2664 None
2665 None
2666 None
2667 None
2668 None
2669 None
2670 None
2671 None
2672 None
2673 None
2674 None
2675 None
2676 None
2677 None
2678 None
2679 None
2680 None
2681 None
2682 None
2683 None
2684 None
2685 None
2686 None
2687 None
2688 None
2689 None
2690 None
2691 None
2692 None
2693 None
2694 None
2695 None
2696 None
2697 None
2698 None
2699 None
2700 None
2701 None
2702 None
2703 None
2704 None
2705 None
2706 None
2707 None
2708 None
2709 None
2710 None
2711 None
2712 None
2713 None
2714 None
2715 None
2716 None
2717 None
2718 None
2719 None
2720 None
2721 None
2722 None
2723 None
2724 None
2725 None
2726 None
2727 None
2728 None
2729 None
2730 None
2731 None
2732 None
2733 None
2734 None
2735 None
2736 None
2737 None
2738 None
2739 None
2740 None
2741 None
2742 None
2743 None
2744 None
2745 None
2746 None
2747 None
2748 None
2749 None
2750 None
2751 None
2752 None
2753 None
2754 None
2755 None
2756 None
2757 None
2758 None
2759 None
2760 None
2761 None
2762 None
2763 None
2764 None
2765 None
2766 None
2767 None
2768 None
2769 None
2770 None
2771 None
2772 None
2773 None
2774 None
2775 None
2776 None
2777 None
2778 None
2779 None
2780 None
2781 None
2782 None
2783 None
2784 None
2785 None
2786 None
2787 None
2788 None
2789 None
2790 None
2791 None
2792 None
2793 None
2794 None
2795 None
2796 None
2797 None
2798 None
2799 None
2800 None
2801 None
2802 None
2803 None
2804 None
2805 None
2806 None
2807 None
2808 None
2809 None
2810 None
2811 None
2812 None
2813 None
2814 None
2815 None
2816 None
2817 None
2818 None
2819 None
2820 None
2821 None
2822 None
2823 None
2824 None
2825 None
2826 None
2827 None
2828 None
2829 None
2830 None
2831 None
2832 None
2833 None
2834 None
2835 None
2836 None
2837 None

2838 None
2839 None
2840 None
2841 None
2842 None
2843 None
2844 None
2845 None
2846 None
2847 None
2848 None
2849 None
2850 None
2851 None
2852 None
2853 None
2854 None
2855 None
2856 None
2857 None
2858 None
2859 None
2860 None
2861 None
2862 None
2863 None
2864 None
2865 None
2866 None
2867 None
2868 None
2869 None
2870 None
2871 None
2872 None
2873 None
2874 None
2875 None
2876 None
2877 None
2878 None
2879 None
2880 None
2881 None
2882 None
2883 None
2884 None
2885 None
2886 None
2887 None
2888 None
2889 None
2890 None
2891 None
2892 None
2893 None
2894 None
2895 None
2896 None
2897 None
2898 None
2899 None
2900 None
2901 None
2902 None
2903 None
2904 None
2905 None
2906 None
2907 None
2908 None
2909 None
2910 None
2911 None
2912 None
2913 None
2914 None
2915 None
2916 None
2917 None
2918 None
2919 None
2920 None
2921 None
2922 None
2923 None
2924 None
2925 None
2926 None
2927 None
2928 None
2929 None
2930 None
2931 None
2932 None
2933 None
2934 None
2935 None
2936 None
2937 None
2938 None
2939 None
2940 None
2941 None
2942 None
2943 None
2944 None
2945 None
2946 None
2947 None
2948 None
2949 None
2950 None
2951 None
2952 None
2953 None
2954 None
2955 None
2956 None
2957 None
2958 None
2959 None
2960 None
2961 None
2962 None
2963 None
2964 None
2965 None
2966 None
2967 None
2968 None
2969 None
2970 None
2971 None
2972 None
2973 None
2974 None
2975 None
2976 None
2977 None
2978 None
2979 None
2980 None
2981 None
2982 None
2983 None
2984 None
2985 None
2986 None
2987 None
2988 None
2989 None
2990 None
2991 None
2992 None
2993 None
2994 None
2995 None
2996 None
2997 None
2998 None
2999 None
3000 None
3001 None
3002 None
3003 None
3004 None
3005 None
3006 None
3007 None
3008 None
3009 None
3010 None
3011 None
3012 None
3013 None
3014 None
3015 None
3016 None
3017 None
3018 None
3019 None
3020 None
3021 None
3022 None
3023 None
3024 None
3025 None
3026 None
3027 None
3028 None
3029 None
3030 None
3031 None
3032 None
3033 None
3034 None
3035 None
3036 None
3037 None
3038 None
3039 None
3040 None
3041 None
3042 None
3043 None
3044 None
3045 None
3046 None
3047 None
3048 None
3049 None
3050 None
3051 None
3052 None
3053 None
3054 None
3055 None
3056 None
3057 None
3058 None
3059 None
3060 None
3061 None
3062 None
3063 None
3064 None
3065 None
3066 None
3067 None
3068 None
3069 None
3070 None
3071 None
3072 None
3073 None
3074 None
3075 None
3076 None
3077 None
3078 None
3079 None
3080 None
3081 None
3082 None
3083 None
3084 None
3085 None
3086 None
3087 None
3088 None
3089 None
3090 None
3091 None
3092 None
3093 None
3094 None
3095 None
3096 None
3097 None
3098 None
3099 None
3100 None
3101 None
3102 None
3103 None
3104 None
3105 None
3106 None
3107 None
3108 None
3109 None
3110 None
3111 None
3112 None
3113 None
3114 None
3115 None
3116 None
3117 None
3118 None
3119 None
3120 None
3121 None
3122 None
3123 None
3124 None
3125 None
3126 None
3127 None
3128 None
3129 None
3130 None
3131 None
3132 None
3133 None
3134 None
3135 None
3136 None
3137 None
3138 None
3139 None
3140 None
3141 None
3142 None
3143 None
3144 None
3145 None
3146 None
3147 None
3148 None
3149 None
3150 None
3151 None
3152 None
3153 None
3154 None
3155 None
3156 None
3157 None
3158 None
3159 None
3160 None
3161 None
3162 None
3163 None
3164 None
3165 None
3166 None
3167 None
3168 None
3169 None
3170 None
3171 None
3172 None
3173 None
3174 None
3175 None
3176 None
3177 None
3178 None
3179 None
3180 None
3181 None
3182 None
3183 None
3184 None
3185 None
3186 None
3187 None
3188 None
3189 None
3190 None
3191 None
3192 None
3193 None
3194 None
3195 None
3196 None
3197 None
3198 None
3199 None
3200 None
3201 None
3202 None
3203 None
3204 None
3205 None
3206 None
3207 None
3208 None
3209 None
3210 None
3211 None
3212 None
3213 None
3214 None
3215 None
3216 None
3217 None
3218 None
3219 None
3220 None
3221 None
3222 None
3223 None
3224 None
3225 None
3226 None
3227 None
3228 None
3229 None
3230 None
3231 None
3232 None
3233 None
3234 None
3235 None
3236 None
3237 None
3238 None
3239 None
3240 None
3241 None
3242 None
3243 None
3244 None
3245 None
3246 None
3247 None
3248 None
3249 None
3250 None
3251 None
3252 None
3253 None
3254 None
3255 None
3256 None
3257 None
3258 None
3259 None
3260 None
3261 None
3262 None
3263 None
3264 None
3265 None
3266 None
3267 None
3268 None
3269 None
3270 None
3271 None
3272 None
3273 None
3274 None
3275 None
3276 None
3277 None
3278 None
3279 None
3280 None
3281 None
3282 None
3283 None
3284 None
3285 None
3286 None
3287 None
3288 None
3289 None
3290 None
3291 None
3292 None
3293 None
3294 None
3295 None
3296 None
3297 None
3298 None
3299 None
3300 None
3301 None
3302 None
3303 None
3304 None
3305 None
3306 None
3307 None
3308 None
3309 None
3310 None
3311 None
3312 None
3313 None
3314 None
3315 None
3316 None
3317 None
3318 None
3319 None
3320 None
3321 None
3322 None
3323 None
3324 None
3325 None
3326 None
3327 None
3328 None
3329 None
3330 None
3331 None
3332 None
3333 None
3334 None
3335 None
3336 None
3337 None
3338 None
3339 None
3340 None
3341 None
3342 None
3343 None
3344 None
3345 None
3346 None
3347 None
3348 None
3349 None
3350 None
3351 None
3352 None
3353 None
3354 None
3355 None
3356 None
3357 None
3358 None
3359 None
3360 None
3361 None
3362 None
3363 None
3364 None
3365 None
3366 None
3367 None
3368 None
3369 None
3370 None
3371 None
3372 None
3373 None
3374 None
3375 None
3376 None
3377 None
3378 None
3379 None
3380 None
3381 None
3382 None
3383 None
3384 None
3385 None
3386 None
3387 None
3388 None
3389 None
3390 None
3391 None
3392 None
3393 None
3394 None
3395 None
3396 None
3397 None
3398 None
3399 None
3400 None
3401 None
3402 None
3403 None
3404 None
3405 None
3406 None
3407 None
3408 None
3409 None
3410 None
3411 None
3412 None
3413 None
3414 None
3415 None
3416 None
3417 None
3418 None
3419 None
3420 None
3421 None
3422 None
3423 None
3424 None
3425 None
3426 None
3427 None
3428 None
3429 None
3430 None
3431 None
3432 None
3433 None
3434 None
3435 None
3436 None
3437 None
3438 None
3439 None
3440 None
3441 None
3442 None
3443 None
3444 None
3445 None
3446 None
3447 None
3448 None
3449 None
3450 None
3451 None
3452 None
3453 None
3454 None
3455 None
3456 None
3457 None
3458 None
3459 None
3460 None
3461 None
3462 None
3463 None
3464 None
3465 None
3466 None
3467 None
3468 None
3469 None
3470 None
3471 None
3472 None
3473 None
3474 None
3475 None
3476 None
3477 None
3478 None
3479 None
3480 None
3481 None
3482 None
3483 None
3484 None
3485 None
3486 None
3487 None
3488 None
3489 None
3490 None
3491 None
3492 None
3493 None
3494 None
3495 None
3496 None
3497 None
3498 None
3499 None
3500 None
3501 None
3502 None
3503 None
3504 None
3505 None
3506 None
3507 None
3508 None
3509 None
3510 None
3511 None
3512 None
3513 None
3514 None
3515 None
3516 None
3517 None
3518 None
3519 None
3520 None
3521 None
3522 None
3523 None
3524 None
3525 None
3526 None
3527 None
3528 None
3529 None
3530 None
3531 None
3532 None
3533 None
3534 None
3535 None
3536 None
3537 None
3538 None
3539 None
3540 None
3541 None
3542 None
3543 None
3544 None
3545 None
3546 None
3547 None
3548 None
3549 None
3550 None
3551 None
3552 None
3553 None
3554 None
3555 None
3556 None
3557 None
3558 None
3559 None
3560 None
3561 None
3562 None
3563 None
3564 None
3565 None
3566 None
3567 None
3568 None
3569 None
3570 None
3571 None
3572 None
3573 None
3574 None
3575 None
3576 None
3577 None
3578 None
3579 None
3580 None
3581 None
3582 None
3583 None
3584 None
3585 None
3586 None
3587 None
3588 None
3589 None
3590 None
3591 None
3592 None
3593 None
3594 None
3595 None
3596 None
3597 None
3598 None
3599 None
3600 None
3601 None
3602 None
3603 None
3604 None
3605 None
3606 None
3607 None
3608 None
3609 None
3610 None
3611 None
3612 None
3613 None
3614 None
3615 None
3616 None
3617 None
3618 None
3619 None
3620 None
3621 None
3622 None
3623 None
3624 None
3625 None
3626 None
3627 None
3628 None
3629 None
3630 None
3631 None
3632 None
3633 None
3634 None
3635 None
3636 None
3637 None
3638 None
3639 None
3640 None
3641 None
3642 None
3643 None
3644 None
3645 None
3646 None
3647 None
3648 None
3649 None
3650 None
3651 None
3652 None
3653 None
3654 None
3655 None
3656 None
3657 None
3658 None
3659 None
3660 None
3661 None
3662 None
3663 None
3664 None
3665 None
3666 None
3667 None
3668 None
3669 None
3670 None
3671 None
3672 None
3673 None
3674 None
3675 None
3676 None
3677 None
3678 None
3679 None
3680 None
3681 None
3682 None
3683 None
3684 None
3685 None
3686 None
3687 None
3688 None
3689 None
3690 None
3691 None
3692 None
3693 None
3694 None
3695 None
3696 None
3697 None
3698 None
3699 None
3700 None
3701 None
3702 None
3703 None
3704 None
3705 None
3706 None
3707 None
3708 None
3709 None
3710 None
3711 None
3712 None
3713 None
3714 None
3715 None
3716 None
3717 None
3718 None
3719 None
3720 None
3721 None
3722 None
3723 None
3724 None
3725 None
3726 None
3727 None
3728 None
3729 None
3730 None
3731 None
3732 None
3733 None
3734 None
3735 None
3736 None
3737 None
3738 None
3739 None
3740 None
3741 None
3742 None
3743 None
3744 None
3745 None
3746 None
3747 None
3748 None
3749 None
3750 None
3751 None
3752 None
3753 None
3754 None
3755 None
3756 None
3757 None
3758 None
3759 None
3760 None
3761 None
3762 None
3763 None
3764 None
3765 None
3766 None
3767 None
3768 None
3769 None
3770 None
3771 None
3772 None
3773 None
3774 None
3775 None
3776 None
3777 None
3778 None
3779 None
3780 None
3781 None

3782 None
3783 None
3784 None
3785 None
3786 None
3787 None
3788 None
3789 None
3790 None
3791 None
3792 None
3793 None
3794 None
3795 None
3796 None
3797 None
3798 None
3799 None
3800 None
3801 None
3802 None
3803 None
3804 None
3805 None
3806 None
3807 None
3808 None
3809 None
3810 None
3811 None
3812 None
3813 None
3814 None
3815 None
3816 None
3817 None
3818 None
3819 None
3820 None
3821 None
3822 None
3823 None
3824 None
3825 None
3826 None
3827 None
3828 None
3829 None
3830 None
3831 None
3832 None
3833 None
3834 None
3835 None
3836 None
3837 None
3838 None
3839 None
3840 None
3841 None
3842 None
3843 None
3844 None
3845 None
3846 None
3847 None
3848 None
3849 None
3850 None
3851 None
3852 None
3853 None
3854 None
3855 None
3856 None
3857 None
3858 None
3859 None
3860 None
3861 None
3862 None
3863 None
3864 None
3865 None
3866 None
3867 None
3868 None
3869 None
3870 None
3871 None
3872 None
3873 None
3874 None
3875 None
3876 None
3877 None
3878 None
3879 None
3880 None
3881 None
3882 None
3883 None
3884 None
3885 None
3886 None
3887 None
3888 None
3889 None
3890 None
3891 None
3892 None
3893 None
3894 None
3895 None
3896 None
3897 None
3898 None
3899 None
3900 None
3901 None
3902 None
3903 None
3904 None
3905 None
3906 None
3907 None
3908 None
3909 None
3910 None
3911 None
3912 None
3913 None
3914 None
3915 None
3916 None
3917 None
3918 None
3919 None
3920 None
3921 None
3922 None
3923 None
3924 None
3925 None
3926 None
3927 None
3928 None
3929 None
3930 None
3931 None
3932 None
3933 None
3934 None
3935 None
3936 None
3937 None
3938 None
3939 None
3940 None
3941 None
3942 None
3943 None
3944 None
3945 None
3946 None
3947 None
3948 None
3949 None
3950 None
3951 None
3952 None
3953 None
3954 None
3955 None
3956 None
3957 None
3958 None
3959 None
3960 None
3961 None
3962 None
3963 None
3964 None
3965 None
3966 None
3967 None
3968 None
3969 None
3970 None
3971 None
3972 None
3973 None
3974 None
3975 None
3976 None
3977 None
3978 None
3979 None
3980 None
3981 None
3982 None
3983 None
3984 None
3985 None
3986 None
3987 None
3988 None
3989 None
3990 None
3991 None
3992 None
3993 None
3994 None
3995 None
3996 None
3997 None
3998 None
3999 None
4000 None
4001 None
4002 None
4003 None
4004 None
4005 None
4006 None
4007 None
4008 None
4009 None
4010 None
4011 None
4012 None
4013 None
4014 None
4015 None
4016 None
4017 None
4018 None
4019 None
4020 None
4021 None
4022 None
4023 None
4024 None
4025 None
4026 None
4027 None
4028 None
4029 None
4030 None
4031 None
4032 None
4033 None
4034 None
4035 None
4036 None
4037 None
4038 None
4039 None
4040 None
4041 None
4042 None
4043 None
4044 None
4045 None
4046 None
4047 None
4048 None
4049 None
4050 None
4051 None
4052 None
4053 None
4054 None
4055 None
4056 None
4057 None
4058 None
4059 None
4060 None
4061 None
4062 None
4063 None
4064 None
4065 None
4066 None
4067 None
4068 None
4069 None
4070 None
4071 None
4072 None
4073 None
4074 None
4075 None
4076 None
4077 None
4078 None
4079 None
4080 None
4081 None
4082 None
4083 None
4084 None
4085 None
4086 None
4087 None
4088 None
4089 None
4090 None
4091 None
4092 None
4093 None
4094 None
4095 None
4096 None
4097 None
4098 None
4099 None
4100 None
4101 None
4102 None
4103 None
4104 None
4105 None
4106 None
4107 None
4108 None
4109 None
4110 None
4111 None
4112 None
4113 None
4114 None
4115 None
4116 None
4117 None
4118 None
4119 None
4120 None
4121 None
4122 None
4123 None
4124 None
4125 None
4126 None
4127 None
4128 None
4129 None
4130 None
4131 None
4132 None
4133 None
4134 None
4135 None
4136 None
4137 None
4138 None
4139 None
4140 None
4141 None
4142 None
4143 None
4144 None
4145 None
4146 None
4147 None
4148 None
4149 None
4150 None
4151 None
4152 None
4153 None
4154 None
4155 None
4156 None
4157 None
4158 None
4159 None
4160 None
4161 None
4162 None
4163 None
4164 None
4165 None
4166 None
4167 None
4168 None
4169 None
4170 None
4171 None
4172 None
4173 None
4174 None
4175 None
4176 None
4177 None
4178 None
4179 None
4180 None
4181 None
4182 None
4183 None
4184 None
4185 None
4186 None
4187 None
4188 None
4189 None
4190 None
4191 None
4192 None
4193 None
4194 None
4195 None
4196 None
4197 None
4198 None
4199 None
4200 None
4201 None
4202 None
4203 None
4204 None
4205 None
4206 None
4207 None
4208 None
4209 None
4210 None
4211 None
4212 None
4213 None
4214 None
4215 None
4216 None
4217 None
4218 None
4219 None
4220 None
4221 None
4222 None
4223 None
4224 None
4225 None
4226 None
4227 None
4228 None
4229 None
4230 None
4231 None
4232 None
4233 None
4234 None
4235 None
4236 None
4237 None
4238 None
4239 None
4240 None
4241 None
4242 None
4243 None
4244 None
4245 None
4246 None
4247 None
4248 None
4249 None
4250 None
4251 None
4252 None
4253 None
4254 None
4255 None
4256 None
4257 None
4258 None
4259 None
4260 None
4261 None
4262 None
4263 None
4264 None
4265 None
4266 None
4267 None
4268 None
4269 None
4270 None
4271 None
4272 None
4273 None
4274 None
4275 None
4276 None
4277 None
4278 None
4279 None
4280 None
4281 None
4282 None
4283 None
4284 None
4285 None
4286 None
4287 None
4288 None
4289 None
4290 None
4291 None
4292 None
4293 None
4294 None
4295 None
4296 None
4297 None
4298 None
4299 None
4300 None
4301 None
4302 None
4303 None
4304 None
4305 None
4306 None
4307 None
4308 None
4309 None
4310 None
4311 None
4312 None
4313 None
4314 None
4315 None
4316 None
4317 None
4318 None
4319 None
4320 None
4321 None
4322 None
4323 None
4324 None
4325 None
4326 None
4327 None
4328 None
4329 None
4330 None
4331 None
4332 None
4333 None
4334 None
4335 None
4336 None
4337 None
4338 None
4339 None
4340 None
4341 None
4342 None
4343 None
4344 None
4345 None
4346 None
4347 None
4348 None
4349 None
4350 None
4351 None
4352 None
4353 None
4354 None
4355 None
4356 None
4357 None
4358 None
4359 None
4360 None
4361 None
4362 None
4363 None
4364 None
4365 None
4366 None

iter_columns

Produces cells from the worksheet, by column. Specify the iteration range using indices of rows and columns.

In [165]:
# iterate over columns (==> vertically)
for col in sheet.iter_cols(min_row=1, # smallest row index (1-based index)
                           min_col=4, # smallest column index (1-based index)
                           max_row=2, # largest row index (1-based index)
                           max_col=9): # largest row index (1-based index)
    print(col)

(<Cell 'Data'.D1>, <Cell 'Data'.D2>)
(<Cell 'Data'.E1>, <Cell 'Data'.E2>)
(<Cell 'Data'.F1>, <Cell 'Data'.F2>)
(<Cell 'Data'.G1>, <Cell 'Data'.G2>)
(<Cell 'Data'.H1>, <Cell 'Data'.H2>)
(<Cell 'Data'.I1>, <Cell 'Data'.I2>)

In [166]:
# iterate over columns (==> vertically)
for col in sheet.iter_cols(min_row=2, # smallest row index (1-based index)
                           min_col=4, # smallest column index (1-based index)
                           max_row=5, # largest row index (1-based index)
                           max_col=6): # largest row index (1-based index)
     for cell in col:
            print(cell.row, cell.column, cell.value)

2 4 5924.95
3 4 5924.95
4 4 5924.95
5 4 5924.95
2 5 4680.71
3 5 7346.94
4 5 7406.19
5 5 5865.7
2 6 7406.19
3 6 6872.94
4 6 6043.45
5 6 7406.19

In [167]:
# write a column

# copy only the Loans for Jan Income 
# and add this copied data to "Deprtment_New" sheet in Loans column
# we know the column for Jan Income is 4

for i in range(0, len(loans_jan_income)):
    ref=wb['Department_new'].cell(row=2+i, column=1)
    ref.value=loans_jan_income[i]
    
wb.save('Budget_1.xlsx')

 copy parts of the sheet into another sheet

In [168]:
regions = df.Region.unique()
regions

array(['AT', 'BE', 'DE', 'DK', 'FR', 'IE', 'IT', 'NL', 'PL', 'PT', 'UK'],
      dtype=object)

In [169]:
for region in regions:
    print(region)

AT
BE
DE
DK
FR
IE
IT
NL
PL
PT
UK

In [170]:
for i in regions:
  # create a new sheetper region
    wb.create_sheet(title=i)  
    
print(wb.sheetnames)

wb.save('Budget_1.xlsx')

['Data', 'Department', 'Department_new', 'Department_new1', 'AT', 'BE', 'DE', 'DK', 'FR', 'IE', 'IT', 'NL', 'PL', 'PT', 'UK']

In [171]:
 # loop for sheets
for sheet in wb.sheetnames:
    print(sheet)

Data
Department
Department_new
Department_new1
AT
BE
DE
DK
FR
IE
IT
NL
PL
PT
UK

for id, row in enumerate(sheet.iter_rows(min_row=2,
                                         max_row = 10), values_only=True):
    #if row
    print(id, row)

# value only for loans

for row in sheet.iter_rows(min_row=1, max_col=7, max_row=5, values_only=True):            
         print(row[1])

In [172]:
# rows with NL region
country=[]
sheet = wb['Data']
# compute columns
columns= sheet.max_column

for row in sheet.iter_rows(min_row=1, min_col=1, 
                          # max_col=7, 
                          # max_row=5
                          values_only=True
                          ): 
    if row[2] in ['Region',"NL"]:
        country.append(row)
        for i in range(1, len(country)+1):
            for c in range(1, columns+1):
   # print(i,c)
                ref=wb['NL'].cell(row=i, column=c)
                ref.value=country[i-1][c-1]
        
print(len(country))
wb.save('Budget_1.xlsx')

93

In [173]:
country

[('Business',
  'Department',
  'Region',
  'Jan Income',
  'Feb Income',
  'Mar Income',
  'Apr Income',
  'May Income',
  'Jun Income',
  'Jan Expenditure',
  'Feb Expenditure',
  'Mar Expenditure',
  'Apr Expenditure',
  'May Expenditure',
  'Jun Expenditure',
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  5628.7,
  6695.19,
  7228.44,
  6754.44,
  6991.44,
  4497.73,
  4632.66,
  4771.64,
  4580.77,
  4397.54,
  3737.91,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  5924.95,
  6576.69,
  5332.46,
  7346.94,
  6754.44,
  4447.4,
  4892.14,
  5528.12,
  4975.31,
  5472.84,
  6457.95,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5674.6,
  7093.25,
  6525.79,
  6752.77,
  4766.66,
  7036.5,
  4670.78,
  4997.73,
  5097.68,
  5250.61,
  5198.1,
  4886.21,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  7346.94,
  4858.46,
  7169.19,
  5806.45,
  6458.2,
  2661.56,
  2209.09,
  2187,
  2318.22,
  2665.95,
  2772.59,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  5450.95,
  7228.44,
  7228.44,
  5687.95,
  5273.21,
  912.73,
  885.35,
  1027.01,
  1016.74,
  1209.92,
  1028.43,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  6754.44,
  4976.96,
  5806.45,
  6339.7,
  6932.19,
  2548.21,
  2624.66,
  2230.96,
  2587.91,
  2769.06,
  2492.15,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  5391.7,
  5036.21,
  6932.19,
  5687.95,
  7287.69,
  3456.49,
  3352.8,
  3688.08,
  4167.53,
  3792.45,
  3223.58,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  5924.95,
  4976.96,
  6339.7,
  7287.69,
  5510.2,
  2176.76,
  1872.01,
  2115.37,
  1988.45,
  2107.76,
  2128.84,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  6221.2,
  5510.2,
  5273.21,
  5569.45,
  7287.69,
  2397.69,
  2589.51,
  2382.35,
  2549.11,
  2243.22,
  2310.52,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  4502.96,
  6576.69,
  4502.96,
  7287.69,
  6932.19,
  2806.45,
  2918.71,
  3327.33,
  2828.23,
  2997.92,
  2788.07,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924,
  5924,
  5924,
  5924,
  5924,
  5924,
  2803.57,
  2242.86,
  2512,
  2361.28,
  2219.6,
  2596.93,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  5801.1325,
  6961.36,
  4582.89,
  6439.26,
  5221.02,
  6439.26,
  2260.28,
  2441.1,
  2074.94,
  2220.19,
  1909.36,
  1699.33,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  5924.95,
  5095.46,
  4562.21,
  7050.69,
  5391.7,
  6043.45,
  4298.29,
  4599.17,
  4369.21,
  4325.52,
  4498.54,
  4498.54,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  6102.7,
  4502.96,
  6695.19,
  5273.21,
  5450.95,
  5875,
  5757.5,
  5930.23,
  6108.14,
  5741.65,
  6258.4,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5924.95,
  5569.45,
  4858.46,
  4562.21,
  6043.45,
  6813.69,
  4729.45,
  4114.62,
  3497.43,
  3742.25,
  3180.91,
  2735.58,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5619.75,
  4832.99,
  6575.11,
  4832.99,
  4720.59,
  6181.73,
  4576.32,
  4713.61,
  5420.65,
  5908.51,
  6499.36,
  6759.33,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5107.200000000001,
  5056.13,
  5056.13,
  5566.85,
  4341.12,
  6332.93,
  2079.61,
  2142,
  2206.26,
  1919.45,
  2092.2,
  2343.26,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  1330.7875000000001,
  1330.79,
  1344.1,
  1344.1,
  1344.1,
  1330.79,
  612.04,
  624.28,
  730.41,
  876.49,
  885.25,
  752.46,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  5103.95,
  5563.31,
  6277.86,
  4287.32,
  3981.08,
  4746.67,
  2399.79,
  2543.78,
  2772.72,
  2578.63,
  2913.85,
  2826.43,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  4490.2,
  4535.1,
  5253.53,
  3502.36,
  4310.59,
  4984.12,
  2181.28,
  1897.71,
  2106.46,
  2253.91,
  2637.07,
  2531.59,
  None),
 ('B2C_2',
  'Services',
  'NL',
  4457.75,
  4502.33,
  4457.75,
  3878.24,
  4279.44,
  5215.57,
  5796.43,
  4579.18,
  5037.1,
  4936.36,
  4541.45,
  4586.86,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  4189.700000000001,
  5153.33,
  4524.88,
  3896.42,
  4524.88,
  4315.39,
  1508.25,
  1221.68,
  1160.6,
  1288.27,
  1120.79,
  1087.17,
  None),
 ('B2B',
  'Loans',
  'NL',
  4164.76,
  4831.12,
  4539.59,
  3290.16,
  4123.11,
  3831.58,
  2664.95,
  2558.35,
  2686.27,
  2793.72,
  2374.66,
  2802.1,
  None),
 ('B2B',
  'Assistance',
  'NL',
  1734.51,
  1977.34,
  2046.72,
  1595.75,
  1682.47,
  2064.07,
  2418.24,
  2297.33,
  2343.28,
  1991.79,
  1772.69,
  1577.69,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  3946.35,
  3985.81,
  3985.81,
  3985.81,
  3985.81,
  3946.35,
  4292.86,
  4207,
  4417.35,
  3887.27,
  3537.42,
  3572.79,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  3742.0499999999997,
  3742.05,
  3742.05,
  3779.47,
  3779.47,
  3742.05,
  5172.35,
  5017.18,
  4515.46,
  4921.85,
  4429.67,
  4739.75,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  3573.35,
  3609.08,
  3573.35,
  3609.08,
  3609.08,
  3573.35,
  2808.16,
  2471.18,
  2619.45,
  3064.76,
  2635.69,
  2582.98,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  3478.42,
  2782.74,
  3026.23,
  4000.18,
  4034.97,
  4174.1,
  1060.84,
  1113.88,
  1113.88,
  1225.27,
  1127.25,
  1217.43,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  2315.95,
  2339.11,
  2339.11,
  2339.11,
  2339.11,
  2339.11,
  2193.09,
  2083.44,
  2437.62,
  2413.24,
  2389.11,
  2365.22,
  None),
 ('B2B',
  'Loans',
  'NL',
  3504.8500000000004,
  2663.69,
  3259.51,
  4275.92,
  3119.32,
  3049.22,
  4051.64,
  3403.38,
  3539.52,
  3645.71,
  4265.48,
  4521.41,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  3775.4500000000003,
  3511.17,
  3284.64,
  2944.85,
  3209.13,
  2944.85,
  2057.65,
  2057.65,
  2386.87,
  2697.16,
  3128.71,
  3003.56,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  2713.25,
  2740.38,
  2740.38,
  2740.38,
  2713.25,
  2713.25,
  951.97,
  904.37,
  822.98,
  971.12,
  932.28,
  792.44,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  3219.2000000000003,
  3219.2,
  3219.2,
  3251.39,
  3219.2,
  3219.2,
  2326.19,
  1837.69,
  2131.72,
  1961.18,
  1804.29,
  2147.11,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  3172,
  3172,
  3172,
  3172,
  3203.72,
  3172,
  2731.98,
  2786.62,
  3093.15,
  3464.33,
  4157.2,
  3990.91,
  None),
 ('B2C_2',
  'Assistance',
  'NL',
  2749.3,
  2556.85,
  2474.37,
  2804.29,
  3381.64,
  2721.81,
  2008.33,
  1606.66,
  1847.66,
  2143.29,
  2400.48,
  2688.54,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  3026.6325,
  2814.77,
  2481.84,
  2996.37,
  3268.76,
  3389.83,
  3807,
  3464.37,
  4018.67,
  3737.36,
  3513.12,
  4215.74,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  3131.81,
  2411.49,
  3257.08,
  3351.04,
  2599.4,
  3163.13,
  3721.65,
  3758.87,
  3608.52,
  4041.54,
  3435.31,
  3469.66,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  3015.9500000000003,
  3015.95,
  3015.95,
  3015.95,
  3015.95,
  3015.95,
  1909.6,
  1775.93,
  1758.17,
  1898.82,
  1917.81,
  1687.67,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  3146.85,
  2423.07,
  2863.63,
  3461.54,
  3083.91,
  2611.89,
  2072.93,
  2052.2,
  2113.77,
  2092.63,
  2239.11,
  2149.55,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  3037.9,
  3068.28,
  3068.28,
  3037.9,
  3068.28,
  3037.9,
  2628.36,
  2391.81,
  2176.55,
  2459.5,
  2828.43,
  3224.41,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  2692.645,
  3015.76,
  2881.13,
  3069.62,
  2611.87,
  3096.54,
  1875.95,
  1650.84,
  1815.92,
  1725.12,
  2018.39,
  1756,
  None),
 ('B2B',
  'Assistance',
  'NL',
  2859.325,
  3030.88,
  3316.82,
  3202.44,
  3402.6,
  2573.39,
  1915.78,
  2049.88,
  2418.86,
  2297.92,
  2527.71,
  2224.38,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  2750.85,
  2778.36,
  2778.36,
  2750.85,
  2778.36,
  2750.85,
  2444.5,
  2004.49,
  1884.22,
  2016.12,
  2197.57,
  1977.81,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  2802.4,
  2494.14,
  3306.83,
  2101.8,
  2438.09,
  3306.83,
  1720.86,
  1359.48,
  1209.94,
  1161.54,
  1277.69,
  1494.9,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  2656.1589743589752,
  2682.72,
  2682.72,
  2682.72,
  2656.16,
  2656.16,
  2653.82,
  2335.36,
  2312.01,
  2543.21,
  2212.59,
  2632.98,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  2639.95,
  2639.95,
  2217.56,
  3220.74,
  2639.95,
  2296.76,
  1545.98,
  1623.28,
  1574.58,
  1763.53,
  1516.64,
  1471.14,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  2546.3999999999996,
  2571.86,
  2546.4,
  2571.86,
  2546.4,
  2571.86,
  494.65,
  395.72,
  368.02,
  426.9,
  503.74,
  574.26,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  3435.5,
  3435.5,
  3469.86,
  3469.86,
  3469.86,
  3469.86,
  3094.46,
  3063.52,
  3492.41,
  4190.89,
  4316.62,
  4964.11,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  2308.235,
  2146.66,
  1731.18,
  2792.96,
  2492.89,
  2792.96,
  1659.46,
  1510.11,
  1479.91,
  1746.29,
  1554.2,
  1818.41,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  2028.85,
  2536.06,
  2394.04,
  2495.49,
  2231.74,
  1947.7,
  1008.44,
  927.76,
  872.09,
  811.04,
  802.93,
  859.14,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  2213,
  2213,
  2213,
  2213,
  2235.13,
  2213,
  2466.1,
  2638.73,
  2744.28,
  2442.41,
  2808.77,
  2640.24,
  None),
 ('B2C_2',
  'Services',
  'NL',
  2201.0499999999997,
  2289.09,
  2443.17,
  1716.82,
  1738.83,
  2751.31,
  1608.79,
  1287.03,
  1351.38,
  1162.19,
  1348.14,
  1469.47,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1961.6499999999999,
  2216.66,
  1981.27,
  1981.27,
  2295.13,
  1961.65,
  1860.43,
  1618.57,
  1440.53,
  1598.99,
  1918.79,
  2033.92,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  4053.8,
  4783.48,
  3243.04,
  3080.89,
  3688.96,
  4459.18,
  1921.73,
  2094.69,
  2031.85,
  2255.35,
  2029.82,
  2253.1,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  2007.15,
  1826.51,
  2207.87,
  2007.15,
  2167.72,
  1525.43,
  932.85,
  914.19,
  996.47,
  926.72,
  1056.46,
  1162.11,
  None),
 ('B2C_2',
  'Services',
  'NL',
  1923,
  2384.52,
  2038.38,
  1865.31,
  1903.77,
  1461.48,
  5875,
  6227.5,
  5480.2,
  5260.99,
  5208.38,
  4531.29,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  1892.45,
  1911.37,
  1892.45,
  1892.45,
  1892.45,
  1892.45,
  1731.39,
  1696.76,
  1696.76,
  2036.11,
  2341.53,
  1990.3,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  3984.8,
  3984.8,
  3984.8,
  4024.65,
  4024.65,
  3984.8,
  3139.31,
  3327.67,
  3993.2,
  4632.11,
  3937.29,
  3819.17,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  4291.125,
  3261.26,
  4248.21,
  3604.55,
  5106.44,
  3604.55,
  1223.19,
  1039.71,
  1174.87,
  1116.13,
  1038,
  1100.28,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1670.735,
  2021.59,
  1570.49,
  1821.1,
  2071.71,
  2071.71,
  1984.28,
  1885.07,
  1941.62,
  1825.12,
  1733.86,
  1681.84,
  None),
 ('B2B',
  'Maintenance',
  'NL',
  1864.575,
  1789.99,
  1957.8,
  1883.22,
  1547.6,
  1566.24,
  3062.76,
  2542.09,
  2669.19,
  2509.04,
  2358.5,
  2783.03,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1765.1974999999998,
  1412.16,
  1977.02,
  1835.81,
  1888.76,
  1571.03,
  2577.44,
  2680.54,
  2868.18,
  3040.27,
  3587.52,
  3264.64,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  4585.6,
  3530.91,
  5135.87,
  3622.62,
  4172.9,
  4952.45,
  2743.64,
  2908.26,
  3489.91,
  3140.92,
  3486.42,
  3451.56,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  4975.4349999999995,
  4129.61,
  4229.12,
  3781.33,
  4428.14,
  5074.94,
  4558.13,
  3965.57,
  3806.95,
  3502.39,
  3187.17,
  2804.71,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1637.535,
  1703.04,
  1915.92,
  1784.91,
  1408.28,
  1768.54,
  871.15,
  906,
  788.22,
  748.81,
  741.32,
  845.1,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1717.31,
  1889.04,
  1322.33,
  1494.06,
  1528.41,
  2146.64,
  1827.87,
  1736.48,
  1632.29,
  1534.35,
  1595.72,
  1404.23,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1651.75,
  1255.33,
  1569.16,
  1998.62,
  2048.17,
  1536.13,
  1194.53,
  1110.91,
  1277.55,
  1200.9,
  1056.79,
  1035.65,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1725,
  1397.25,
  1794,
  1293.75,
  1569.75,
  2121.75,
  1503.76,
  1233.08,
  1368.72,
  1204.47,
  1144.25,
  1029.83,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1605.82,
  1605.82,
  1798.52,
  1621.88,
  1509.47,
  1637.94,
  1491.3,
  1595.69,
  1420.16,
  1519.57,
  1641.14,
  1805.25,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  1547.825,
  1563.3,
  1547.83,
  1547.83,
  1563.3,
  1563.3,
  1747.88,
  1433.26,
  1232.6,
  1380.51,
  1463.34,
  1712.11,
  None),
 ('B2B',
  'Maintenance',
  'NL',
  1523.5,
  1218.8,
  1249.27,
  1736.79,
  1767.26,
  1675.85,
  2434.1,
  2020.3,
  1878.88,
  1803.72,
  1749.61,
  2099.53,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1433.15,
  1189.51,
  1633.79,
  1490.48,
  1662.45,
  1748.44,
  4069.65,
  4273.13,
  4614.98,
  4245.78,
  4925.1,
  4481.84,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  4706.95,
  4377.46,
  4330.39,
  5789.55,
  5695.41,
  4095.05,
  2549.33,
  2090.45,
  2174.07,
  2065.37,
  2313.21,
  2266.95,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1494.1999999999998,
  1374.66,
  1314.9,
  1703.39,
  1778.1,
  1434.43,
  1932.38,
  2086.97,
  2066.1,
  2066.1,
  2479.32,
  2280.97,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1435.2099999999998,
  1262.98,
  1119.46,
  1693.55,
  1621.79,
  1420.86,
  549.38,
  571.36,
  611.36,
  715.29,
  786.82,
  794.69,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1507.8,
  1341.94,
  1372.1,
  1326.86,
  1447.49,
  1251.47,
  2192.03,
  2148.19,
  2062.26,
  1979.77,
  1742.2,
  1742.2,
  None),
 ('B2C_1',
  'Loans',
  'NL',
  1290.3999999999999,
  1303.3,
  1303.3,
  1290.4,
  1303.3,
  1290.4,
  3309.68,
  2713.94,
  2741.08,
  2466.97,
  2466.97,
  2787.68,
  None),
 ('B2C_1',
  'Maintenance',
  'NL',
  1135.8,
  1147.16,
  1135.8,
  1135.8,
  1147.16,
  1147.16,
  1162.08,
  1278.29,
  1470.03,
  1308.33,
  1439.16,
  1525.51,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1091.6,
  1233.51,
  1233.51,
  884.2,
  1266.26,
  916.94,
  695.63,
  695.63,
  591.29,
  709.55,
  787.6,
  834.86,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  1028.5625,
  1213.7,
  956.56,
  925.71,
  1223.99,
  1110.85,
  1659.73,
  1543.55,
  1481.81,
  1422.54,
  1436.77,
  1666.65,
  None),
 ('B2C_2',
  'Maintenance',
  'NL',
  1068.5,
  897.54,
  929.6,
  929.6,
  886.86,
  897.54,
  737.63,
  678.62,
  746.48,
  679.3,
  794.78,
  675.56,
  None),
 ('B2C_2',
  'Maintenance',
  'NL',
  940.3100000000001,
  1118.97,
  940.31,
  771.05,
  724.04,
  1043.74,
  1294.65,
  1035.72,
  1149.65,
  1276.11,
  1110.22,
  1332.26,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  917.67,
  1147.09,
  770.84,
  844.26,
  954.38,
  715.78,
  3648.91,
  3247.53,
  2857.83,
  2914.99,
  2856.69,
  3085.23,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  893.1,
  1044.93,
  910.96,
  884.17,
  812.72,
  794.86,
  739.25,
  628.36,
  754.03,
  648.47,
  739.26,
  724.47,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  903.85,
  885.77,
  777.31,
  1129.81,
  858.66,
  686.93,
  161.78,
  143.98,
  155.5,
  152.39,
  172.2,
  154.98,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  747.21,
  620.18,
  814.46,
  732.27,
  896.65,
  859.29,
  452.28,
  492.99,
  438.76,
  456.31,
  497.38,
  467.54,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  774.05,
  580.54,
  959.82,
  897.9,
  611.5,
  758.57,
  519.2,
  399.78,
  351.81,
  369.4,
  313.99,
  323.41,
  None),
 ('Fleet',
  'Maintenance',
  'NL',
  757.5,
  651.45,
  734.78,
  916.58,
  795.38,
  712.05,
  1680.49,
  1730.9,
  1540.5,
  1632.93,
  1469.64,
  1631.3,
  None),
 ('B2C_2',
  'Services',
  'NL',
  713.5,
  556.53,
  849.07,
  756.31,
  570.8,
  592.21,
  811.87,
  828.11,
  728.74,
  728.74,
  830.76,
  755.99,
  None),
 ('B2C_2',
  'Maintenance',
  'NL',
  599.25,
  521.35,
  551.31,
  689.14,
  719.1,
  449.44,
  227.9,
  193.72,
  174.35,
  203.99,
  234.59,
  248.67,
  None),
 ('B2C_2',
  'Fees',
  'NL',
  357.625,
  268.22,
  321.86,
  286.1,
  318.29,
  418.42,
  262.8,
  207.61,
  191,
  219.65,
  208.67,
  189.89,
  None),
 ('B2C_1',
  'Assistance',
  'NL',
  5924.95,
  6576.69,
  5865.7,
  5924.95,
  6221.2,
  7406.19,
  3652.77,
  2812.63,
  2700.12,
  2835.13,
  3260.4,
  3390.82,
  None)]

## Split wb into sheets by country

In [174]:
regions = df.Region.unique()

country=[]
sheet = wb['Data']



for reg in regions:
    print(reg)
    for sheetnames in wb.sheetnames: 
        country=[]
        if sheetnames == reg: 
            #print(sheetnames)
            for row in sheet.iter_rows(min_row=1,  values_only=True): 
                if row[2] in ['Region', reg]:
                    country.append(row)
                    for i in range(1, len(country)+1):
                        for c in range(1, columns+1):   
                            ref=wb[reg].cell(row=i, column=c)
                            ref.value=country[i-1][c-1]
    
        

wb.save('Budget_1.xlsx')

AT
BE
DE
DK
FR
IE
IT
NL
PL
PT
UK

PermissionError: [Errno 13] Permission denied: 'Budget_1.xlsx'

# rows with AT region
rows_region=[]
sheet = wb['Data']
for row in sheet.iter_rows(2): 
    for cell in row:
        if cell.value == "AT":
            rows_region.append(cell.row)
print(len(rows_region))
print(rows_region[:10])

# create data for region
region = []
for i in range(1, len(rows_region)+1):
    region.append([])

len(region)
region[:10]

# compute columns
columns= sheet.max_column

for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               e=sheet.cell(row=r, column=c)
               region[r-1].append(e.value)
region

for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               j=wb['AT'].cell(row=r, column=c)
               j.value=region[r-1][c-1]
wb.save('Budget_1.xlsx')

# value only for loans
for row in sheet.iter_rows(min_row=1, max_col=5, max_row=5, values_only=True):
    if row[1]=='Loans':
        print(row)

def get_client_rows(sheet):
    """Get client rows.

    Skip header and then look for row dimensions without outline level
    """
    return [row[1].row for row in sheet.iter_rows(1)]
    return [
        row_dimension
        for row_index, row_dimension in sheet.row_dimensions.items()
        if row_index > 1 
    ]
get_client_rows(sheet)

def delete_client_block(sheet, start, end):
    """
    Delete rows starting from up to and including end.
    """
    for row in range(start, end + 1):
        sheet.row_dimensions.pop(row, None)
    sheet.delete_rows(start, end - start + 1)


def split_workbook(input_file, output_file):
    """
    Split workbook each main group into its own sheet.

    Not too loose any formatting we copy the current sheet and remove all rows
    which do not belong to extacted group.
    """

    try:
        workbook = load_workbook(input_file)
        data_sheet = workbook['Data']
        client_rows = get_client_rows(data_sheet)

        for index, client_row in enumerate(client_rows):
            # create new sheet for given client, shorten client as it might be too long
            client_sheet = workbook.copy_worksheet(data_sheet)
            client_sheet.title = data_sheet.cell(client_row, 1).value[:32]

            # delete rows after current client if available
            if index < len(client_rows) - 1:
                row_after_client = client_rows[index + 1]
                delete_client_block(
                    client_sheet, row_after_client, client_sheet.max_row
                )

            # delete rows before current client if available
            if index > 0:
                first_client_row = client_rows[0]
                delete_client_block(
                    client_sheet, first_client_row, client_row - first_client_row + 1
                )

                # move left over dimensions to top of the sheet
                for row_index in list(client_sheet.row_dimensions.keys()):
                    # skip header row dimension
                    if row_index > first_client_row - 1:
                        row_dimension = client_sheet.row_dimensions.pop(row_index)
                        new_index = row_index - client_row + first_client_row
                        row_dimension.index = new_index
                        client_sheet.row_dimensions[new_index] = row_dimension

        del workbook[data_sheet.title]
        workbook.save(output_file)
    finally:
        workbook.close()

input_file = 'Budget_1.xlsx'
    # output_file = "split_data.xlsx"
output_file = "Budget_split.xlsx"

split_workbook(input_file, output_file)

# rows with AT region
rows_country=[]
country = []
sheet = wb['Data']
columns= sheet.max_column

for reg in regions:
    for sheets in wb.sheetnames: 
        if sheets == reg: 
            for row in sheet.iter_rows(2): 
                    for cell in row:
                        if cell.value == reg:
                            rows_country.append(cell.row)
print('rows_country', len(rows_country))
print('len rows_country',rows_country[:10])
# create data for region

for row in sheet.iter_rows(1): 
    for cell in row: 
        for r in range(1, len(rows_country)+1):
            for c in range(1, columns +1 ):
                j=wb[reg].cell(row=r, column=c)
                j.value=sheets[cell.row][cell.column]
                  
                 
                   
#country.append(row)

print('country len 1', len(country))
print('row', row)
print('country 1', country)

# all together
# rows with AT region
rows_country=[]
country = []
sheet = wb['Data']
columns= sheet.max_column
for row in sheet.iter_rows(2): 
    for cell in row:
        if cell.value == "FR":
            rows_country.append(cell.row)
print('len rows_country', len(rows_country))
print('rows_country',rows_country[:10])
# create data for region
#region = []
# compute columns
columns= sheet.max_column
for i in range(1, len(rows_country)+1):
    country.append([])

print('country len', len(country))
print('country', country[:10])

for r in rows_country:
    for c in range(1, columns +1 ):
               e=sheet.cell(row=r, column=c)
               country[r-1].append(e.value)
    
print('country len 1', len(country))
print('country 1', country[:10])
for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               j=wb['FR'].cell(row=r, column=c)
               j.value=region[r-1][c-1]
wb.save('Budget_1.xlsx')

# for all regions
rows_region=[]
region = []

# rows with AT region
rows_region=[]
sheet = wb['Data']
# compute columns
columns= sheet.max_column

# create data for region
region = []

for row in sheet.iter_rows(2): 
    for cell in row:
        if cell.value == "FR":            
            rows_region.append(cell.row)

for i in range(1, len(rows_region)+1):
        region.append([])

for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               e=sheet.cell(row=r, column=c)
               region[r-1].append(e.value)
                
for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               j=wb['FR'].cell(row=r, column=c)
               j.value=region[r-1][c-1]
rows_region=[]
print(region)              
wb.save('Budget_1.xlsx')

regions=['PT']
region=[]
rows_region=[]
print(len(rows_region))
print(len(region))
print(columns)

rows_region=[]
sheet = wb['Data']
region=[]
# compute columns
columns= sheet.max_column

for reg in regions:
    for sheets in wb.sheetnames: 
        if sheets == reg:            
            for row in sheet.iter_rows(2): 
                                for cell in row:
                                    if cell.value == reg:
                                        rows_region.append(cell.row)

            for i in range(1, len(rows_region)+1):
                     region.append([])
            print(len(rows_region))
            print(len(region))

            for r in range(1, len(rows_region)+1):
                 for c in range(1, columns +1 ):
                            e=wb[reg].cell(row=r, column=c)
                            print(e.value)
                           # region[r-1].append(e.value)
            
                            #for r in range(1, len(rows_region)+1):
                                     #for c in range(1, columns +1 ):
                                             #j=wb[reg].cell(row=r, column=c)
                                             #j.value=region[r-1][c-1] 

#region

            for r in range(1, len(rows_region)+1):
                      for c in range(1, columns +1 ):
                            e=wb[reg].cell(row=r, column=c)
                            region[r-1].append(e.value)
            print(len(rows_region))
                            #for r in range(1, len(rows_region)+1):
                                     #for c in range(1, columns +1 ):
                                             #j=wb[reg].cell(row=r, column=c)
                                             #j.value=region[r-1][c-1] 
            #print(j)
#print(len(rows_region))
#row_region=[] 
#print(region)
#region=[]

                                        ''' # create data for region
                                        for i in range(1, len(rows_region)+1):
                                                region.append([])
                                                for r in range(1, len(rows_region)+1):
                                                         for c in range(1, columns +1 ):
                                                                    e=wb[reg].cell(row=r, column=c)
                                                                    region[r-1].append(e.value)
                                                                    for r in range(1, len(rows_region)+1):
                                                                             for c in range(1, columns +1 ):
                                                                                      j=wb[reg].cell(row=r, column=c)
                                                                                      j.value=region[r-1][c-1] '''

rows_region=[]
region = []
# compute columns
columns= sheet.max_column

for reg in regions:
    for sheet in 
    for row in wb[reg].iter_rows(2): 
        for cell in row:
            if cell.value == reg:
                rows_region.append(cell.row)
# create data for region
                for i in range(1, len(rows_region)+1):
                        region.append([])
                        for r in range(1, len(rows_region)+1):
                                 for c in range(1, columns +1 ):
                                            e=wb[reg].cell(row=r, column=c)
                                            region[r-1].append(e.value)
                                            for r in range(1, len(rows_region)+1):
                                                     for c in range(1, columns +1 ):
                                                              j=wb[reg].cell(row=r, column=c)
                                                              j.value=region[r][c-1]

rows_region=[]
for row in sheet.iter_rows(2): 
    for cell in row:
        if cell.value == "AT":
            rows_region.append(cell.row)
# create data for region
region = []
for i in range(1, len(rows_region)+1):
    region.append([])
# compute columns
columns= sheet.max_column

for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               e=sheet.cell(row=r, column=c)
               region[r-1].append(e.value)
for r in range(1, len(rows_region)+1):
    for c in range(1, columns +1 ):
               j=wb['AT'].cell(row=r, column=c)
               j.value=region[r-1][c-1]
wb.save('Budget_1.xlsx')

rows_values=[]
for rows in wb['Department']["A2:G4"]:
       for row in rows:
            print([row.column, row.value])
# create data for region
region = []
for i in range(1, len(rows_region)+1):
    region.append([])

len(region)

# nested loop

for sheets in wb.sheetnames:
    for rows in wb[sheets]["A1:N2"]:
        print(sheets, [x.value for x in rows])

# nested loop

for sheets in wb.sheetnames:
    for rows in wb[sheets]["A1:N2"]:
       # for x in rows:
            print (sheets, [x.value for x in rows])

for sheets in wb.sheetnames:
    for rows in wb[sheets]["A1:N1"]:
        for x in rows:
            print (sheets, [x.value])

loans_jan_income=[]
for row in sheet.iter_rows(): 
    for cell in row:
        if cell.value == "Loans":
            loans_jan_income.append(sheet.cell(row=cell.row, column=4).value) 

# check how many items are in the list of loans
print('the nb of items in loan list for jan_income: ', len(loans_jan_income))
print('first 10 items in loan list for jan_income: ', loans_jan_income[:10])

## 5 Row and column operations

In [175]:
# insert rows
datasheet= wb['Data']
datasheet.insert_rows(idx=1, # row location
                  amount=4) # how many rows to insert
wb.save('Budget_1.xlsx')

In [176]:
# insert columns

datasheet.insert_cols(idx=10, # row location
                  amount=1) # how many rows to insert
wb.save('Budget_1.xlsx')

### Delete rows and columns

In [427]:
datasheet.delete_rows(idx=1, amount=4)
wb.save('Budget_1.xlsx')

cell_range : select a range of cells

iter_rows : how to iterate over rows, max_row & max_column

In [71]:
# will iterate row by row
filename = 'Budget_1.xlsx'
wb2 = load_workbook(filename= filename, #relative path
                   #read_only=True, # read only data omitting 
                   data_only =True) # omit formulas or charts

datasheet= wb2['Data']
# check the title of the sheet 
datasheet.title

In [184]:
# max rows and max columns
datasheet= wb['Data']
print('Max_rows of Data sheet:', datasheet.max_row)
print('Max_columnss of Data sheet:', datasheet.max_column)

Max_rows of Data sheet: 4376
Max_columnss of Data sheet: 17

In [183]:
def get_maximum_rows(*, sheet_object):
    rows = 0
    for max_row, row in enumerate(sheet_object, 1):
        if not all(col.value is None for col in row):
            rows += 1
    return rows

get_maximum_rows(sheet_object = datasheet)

1944

In [178]:
data_range  = datasheet.iter_rows(min_row=1, # smallest row index (1-based index)
                    min_col=4, # smallest column index (1-based index)
                    max_row=2, # largest row index (1-based index)
                    max_col=9, # largest row index (1-based index)
                   values_only=False)

for  row in data_range:
    print(row) # will print the references

(<Cell 'Data'.D1>, <Cell 'Data'.E1>, <Cell 'Data'.F1>, <Cell 'Data'.G1>, <Cell 'Data'.H1>, <Cell 'Data'.I1>)
(<Cell 'Data'.D2>, <Cell 'Data'.E2>, <Cell 'Data'.F2>, <Cell 'Data'.G2>, <Cell 'Data'.H2>, <Cell 'Data'.I2>)

In [367]:
for row in data_range:
    for cell in row:
        print(cell.value)

In [368]:
data_range_1 = datasheet.iter_rows(min_row=3, # smallest row index (1-based index)
                    min_col=1, # smallest column index (1-based index)
                    max_row=8, # largest row index (1-based index) 
                    max_col=5,# largest row index (1-based index) 
                   values_only=True )

for row in data_range_1 :
    for cell in row:
         print(cell,  end='\t')
    print() # at the end of each row iteration start at new line

None	None	None	None	None
Business	Department	Region	Jan Income	Feb Income
B2C_1	Loans	AT	5924.95	5020
B2C_1	Loans	AT	5924.95	7346.94
B2C_1	Loans	AT	5924.95	7406.19
B2C_1	Services	AT	5924.95	5865.7

iter_cols : iterate over cols

In [369]:
data_range_cols = datasheet.iter_cols(min_row=3, # smallest row index (1-based index)
                                      max_row=8, # largest row index (1-based index) 
                                      min_col=1, # smallest column index (1-based index)                    
                                      max_col=5,# largest row index (1-based index) 
                                      values_only=True )

for col in data_range_cols :
    for cell in col:
         print(cell,  end='\t')
    print()

None	Business	B2C_1	B2C_1	B2C_1	B2C_1
None	Department	Loans	Loans	Loans	Services
None	Region	AT	AT	AT	AT
None	Jan Income	5924.95	5924.95	5924.95	5924.95
None	Feb Income	5020	7346.94	7406.19	5865.7

### append method to append a list or a dictionary

In [179]:
# append a list
list_inc = ['INCOME', 'INCOME', 'INCOME','INCOME', 'INCOME', 'INCOME']
#list_inc = ['INCOME']*6
list_inc

['INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME']

# NO GOOOO ValueError: Invalid column index 0

datasheet.append(list_inc)
wb.save('Budget_1.xlsx')

In [182]:
list_inc_2 = [list_inc, ['January', 'Febrary', 'March', 'April', 'May', 'June']]
print(list_inc_2)

for row in list_inc_2:
    datasheet.append(row)
wb.save('Budget_1.xlsx')

[['INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME'], ['January', 'Febrary', 'March', 'April', 'May', 'June']]

In [499]:
for l in range(0, len(list_inc_2)):
    for idx, item in enumerate(list_inc_2[l]):
        print(idx, item)

0 INCOME
1 INCOME
2 INCOME
3 INCOME
4 INCOME
5 INCOME
0 January
1 Febrary
2 March
3 April
4 May
5 June

### write multiple rows

In [ ]:
# append a list
list_inc = ['INCOME', 'INCOME', 'INCOME','INCOME', 'INCOME', 'INCOME']
#list_inc = ['INCOME']*6
list_inc

In [186]:
list_inc_2 = [list_inc, ['January', 'Febrary', 'March', 'April', 'May', 'June']]
print(list_inc_2)

[['INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME'], ['January', 'Febrary', 'March', 'April', 'May', 'June']]

In [187]:
# GOOOD INCOME

# calculate max rows and columns
maxr = len(list_inc_2)
maxc = len(list_inc_2[0]) #I could probably put this into the loop in case a column is different, but not with my data

for this_row in range (1, maxr + 1):
    for this_column in range (1, maxc + 1):
        #print(this_row)
       # print(this_column)
        cellsource = list_inc_2[this_row-1][this_column-1]        
        datasheet.cell(row = this_row+1, column = this_column+3).value = cellsource

# see what was written
for row in datasheet["A2:H3"]:
    print ([x.value for x in row])

wb.save('Budget_1.xlsx')

[None, None, None, 'INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME']
[None, None, None, 'January', 'Febrary', 'March', 'April', 'May']
[None, None, None, None, None, None, None, None]
['Business', 'Department', 'Region', 'Jan Income', 'Feb Income', 'Mar Income', 'Apr Income', 'May Income']
['B2C_1', 'Loans', 'AT', 5924.95, 4680.71, 7406.19, 7169.19, 7406.19]
['B2C_1', 'Loans', 'AT', 5924.95, 7346.94, 6872.94, 4739.96, 6280.45]
['B2C_1', 'Loans', 'AT', 5924.95, 7406.19, 6043.45, 6161.95, 6161.95]

### Append

In [194]:
# append a list

list_exp = ['EXPENDITURE']*6
list_exp_2 = [list_inc, ['January', 'Febrary', 'March', 'April', 'May', 'June']]

# calculate max rows and columns
maxr = len(list_exp_2)
maxc = len(list_exp_2[0]) #I could probably put this into the loop in case a column is different, but not with my data

for this_row in range (1, maxr + 1):
    for this_column in range (1, maxc + 1):
        #print(this_row)
       # print(this_column)
        cellsource = list_exp_2[this_row-1][this_column-1]        
        datasheet.cell(row = this_row+1, column = this_column+9).value = cellsource # !!!! (should be 10)

# see what was written
for row in datasheet["J2:O3"]:
    print ([x.value for x in row])

wb.save('Budget_1.xlsx')

['INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME', 'INCOME']
['January', 'Febrary', 'March', 'April', 'May', 'June']

### Move range

In [196]:
sheet.move_range("J2:O3", 
                 0, # how many rows
                 1) # how many columns
wb.save('Budget_1.xlsx')

In [198]:
# remove unwanted cell

sheet.cell(row=2, column=16).value = None
wb.save('Budget_1.xlsx')

In [416]:
# delete the rows
#datasheet.delete_rows(idx=1, amount=3)
#wb.save('Budget_1.xlsx')

In [502]:
{'D': 'Total amount',
                  'E': 'Total amount', 
                  'F': 'Total amount', 
                  'G': 'Total amount',
                  'H': 'Total amount', 
                  'I': 'Total amount'}

{'D': 'Total amount',
 'E': 'Total amount',
 'F': 'Total amount',
 'G': 'Total amount',
 'H': 'Total amount',
 'I': 'Total amount'}

In [503]:
# see what was written
for row in datasheet["A1940:I1950"]:
    print ([x.value for x in row])

['B2B', 'Maintenance', 'UK', 480, 393.6, 470.4, 412.8, 384, 600]
['B2C_2', 'Fees', 'UK', 400, 464, 448, 424, 420, 384]
['B2C_2', 'Fees', 'UK', 20.21, 19.81, 15.36, 15.56, 22.64, 22.03]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]

In [504]:
# remove the dictionary from data sheet

#datasheet.delete_rows(idx=1940, amount=5)
#wb2.save('Budget_1.xlsx')

## Move cell, range

In [506]:
# move cell

datasheet._move_cell(row =1946,
          column= 3, 
          row_offset= 1, # negative goes up, postivie goes down
          col_offset = 2) # negative to left, postivie to the right

wb.save('Budget_1.xlsx')

In [507]:
# see what was written
for row in datasheet["A1940:I1950"]:
    print ([x.value for x in row])

['B2B', 'Maintenance', 'UK', 480, 393.6, 470.4, 412.8, 384, 600]
['B2C_2', 'Fees', 'UK', 400, 464, 448, 424, 420, 384]
['B2C_2', 'Fees', 'UK', 20.21, 19.81, 15.36, 15.56, 22.64, 22.03]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]

# No good
# move range

datasheet.move_range('A1940:I1944', # cells range
                      rows= 1,
                      cols=-1)

#wb2.save('Budget_1.xlsx')
# see what was written
for row in datasheet["A1940:I1950"]:
    print ([x.value for x in row])

## 6. Write user defined function

### 6.1 Copy range, row, column, cell ...

In [210]:
# write a function to copy a range

def copy_range(sheet_from, cellrange, sheet_to, row_no, col_no ):
    cell_range = sheet_from[cellrange]
    col_counter = col_no
    for row in cell_range:
        for cell in row:
            sheet_to.cell(row=row_no, column=col_counter).value= cell.value
            col_counter = col_counter +1
        row_no = row_no + 1
        col_counter = col_no

In [213]:
# create a new sheet were to copy
wb.create_sheet(title='Department_UTD')
departsheet= wb['Department_UTD']

# copy the wanted range: row
copy_range(sheet_from = sheet,
           cellrange='D1:Q5', 
           sheet_to = departsheet,
           row_no = 1, 
           col_no = 1)

# save workbook 
wb.save('Budget_1.xlsx')

In [214]:
# copy a column

copy_range(sheet, 'A5:A15', departsheet, 3, 1 )

# save workbook 
wb.save('Budget_1.xlsx')

In [215]:
# copy cell
 
copy_range(sheet, 'A5:A5', departsheet, 7, 3 )

# save workbook 
wb.save('Budget_1.xlsx')

## 7 Copy, Move (Cut + Paste) Rename Delete Files. Create Delete Folder

Create a new folder

In [220]:
import os

# path to the directory
fold = cwd + '\\' + 'New_Folder'
# create directory
os.makedirs(fold)

In [223]:
# Create a folder in the folder
other = cwd + '\\' + 'other_Folder' + '\\' +'Inner_folder' 
os.makedirs(other)
other

'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\other_Folder\\Inner_folder'

Copy files and folders of excels with everithing in it

In [253]:
import shutil

# create the folder where to paste files
des= 'C:\\Users\\Cristina\\Documents'
des = des + '\\' + 'Excel_Automation_Module'
os.makedirs(des)

In [252]:
# copy file
src='C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\Budget_template.xlsx'
des='C:\\Users\\Cristina\\Documents\\Excel_Automation_Module'

shutil.copy(src,des)

'C:\\Users\\Cristina\\Documents\\Excel_Automation_Module\\Budget_template.xlsx'

In [255]:
# copy folder with all files in it 

src='C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation'
des='C:\\Users\\Cristina\\Documents\\Excel_Automation_Module_test'

shutil.copytree(src,des)

'C:\\Users\\Cristina\\Documents\\Excel_Automation_Module_test'

Move files

In [256]:
shutil.move('C:\\Users\\Cristina\\Documents\\Python_labs',
           'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation')

'C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Python_labs'

Delete files

In [257]:
# delete a file
os.unlink('C:\\Users\\Cristina\\OneDrive\\Documents\\Excel_Automation\\Budget_1.xlsx')

In [261]:
# delete empty folder
os.rmdir('C:\\Users\Cristina\\OneDrive\\Documents\\Excel_Automation\\New_Folder')

In [263]:
# delete NOT empty folder

shutil.rmtree(r'C:\Users\Cristina\OneDrive\Documents\Excel_Automation\other_Folder')

### Search excel files

In [307]:
# list of all excel files in the working directory
excel_files=[]
for file in os.listdir(cwd):
    if file.endswith('.xlsx'):
            excel_files.append(file)
            
print( 'there are', len(excel_files), " excel files")

there are 16  excel files

# II. Module

What is a workbook, workheet

In [559]:
from openpyxl.workbook import Workbook
from openpyxl import load_workbook

In [560]:
# create workbook object
wb = Workbook()

# create an active worksheet 
ws= wb.active

In [561]:
# load existing spreadsheet
wb = load_workbook('Groceries.xlsx') # relative path
wb

In [562]:
# check the sheetnames
sheets = wb.sheetnames
sheets

['Groceries', 'Prices', 'Price_tracking']

In [563]:
# grab a sheet by name
ws = wb['Groceries']
print(ws.title)
# grab sheet by nb
ws_1 = wb[sheets[0]]
ws_1.title

Groceries

'Groceries'

## Grab cell

In [564]:
# print cell A1 from the sheet
# be aware of the difference

print(ws['A1'])
print(ws['A1'].value)

<Cell 'Groceries'.A1>
Name

## Grab column or Row

In [565]:
# column
column_a = ws['A']
print('We obtain a tuple: ' )
column_a

We obtain a tuple:

(<Cell 'Groceries'.A1>,
 <Cell 'Groceries'.A2>,
 <Cell 'Groceries'.A3>,
 <Cell 'Groceries'.A4>,
 <Cell 'Groceries'.A5>,
 <Cell 'Groceries'.A6>,
 <Cell 'Groceries'.A7>,
 <Cell 'Groceries'.A8>,
 <Cell 'Groceries'.A9>,
 <Cell 'Groceries'.A10>,
 <Cell 'Groceries'.A11>)

In [566]:
# we need to iterate in a loop cell by cell value from the column
for cell in column_a[:11]:
    print(cell.value)

Name
Kevin
Sean
Marina
Jess
Nicolas
Winston
Peter
Monica
Rachel
Lisa

In [527]:
# row
row_1 = ws[1]
for cell in row_1:
    print(cell.value)

Name
Orange
Banana
Apples
Kiwi

## Grab ranges

In [567]:
# grab a range

cellrange = ws['A1:B6']
print(cellrange)

# loop 
for cell in cellrange:
    print(cell)

((<Cell 'Groceries'.A1>, <Cell 'Groceries'.B1>), (<Cell 'Groceries'.A2>, <Cell 'Groceries'.B2>), (<Cell 'Groceries'.A3>, <Cell 'Groceries'.B3>), (<Cell 'Groceries'.A4>, <Cell 'Groceries'.B4>), (<Cell 'Groceries'.A5>, <Cell 'Groceries'.B5>), (<Cell 'Groceries'.A6>, <Cell 'Groceries'.B6>))
(<Cell 'Groceries'.A1>, <Cell 'Groceries'.B1>)
(<Cell 'Groceries'.A2>, <Cell 'Groceries'.B2>)
(<Cell 'Groceries'.A3>, <Cell 'Groceries'.B3>)
(<Cell 'Groceries'.A4>, <Cell 'Groceries'.B4>)
(<Cell 'Groceries'.A5>, <Cell 'Groceries'.B5>)
(<Cell 'Groceries'.A6>, <Cell 'Groceries'.B6>)

In [569]:
for item in cellrange:
    for subitem in item:
        print(subitem.value)

Name
Orange
Kevin
7
Sean
11
Marina
1
Jess
10
Nicolas
7

## Iterate through Columns or Rows

In [570]:
# iterate through rows
# it will iterate in horizontal direction
for row in ws.iter_rows(min_row=1, max_row=3, min_col=1, max_col=5, values_only=True):
    for cell in row:
        print(cell)

Name
Orange
Banana
Apples
Kiwi
Kevin
7
8
11
4
Sean
11
10
3
7

In [571]:
# iterate through col
# it will iterate in vertically direction
for col in ws.iter_cols(min_row=1, max_row=6, min_col=1, max_col=2, values_only=True):
    for cell in col:
        print(cell)

Name
Kevin
Sean
Marina
Jess
Nicolas
Orange
7
11
1
10
7

## Change cell

In [572]:
# change cell value of A2
ws['A2']='Alex'

In [573]:
# save the changes
# !! don't forget to actually close the workbook
wb.save('Groceries_1.xlsx')

## Add cels to spreadsheet

In [574]:
# Change single cell
ws.cell(row=12, column=1).value= 'Greg'
wb.save('Groceries_1.xlsx')

In [575]:
# Change multiple cells
starting_row = 13
names=['Dan', 'Abagail', 'Leo']
for name in names:
    ws.cell(row=starting_row, column=1).value = name
    # increment the counter
    starting_row= starting_row + 1

wb.save('Groceries_1.xlsx')

## create / delete a new sheet

In [576]:
# change workseet title
ws.title = 'Groceries_List'
wb.save('Groceries_1.xlsx')

In [577]:
# create a new sheet where to write the new row
new_sheet= wb.create_sheet(title='New_sheet')
wb.save('Groceries_1.xlsx')

In [578]:
# remove the sheet
wb.remove(new_sheet)  
wb.save('Groceries_1.xlsx')

## read multiple rows , cell range

In [579]:
for row in range(1, 4):
    for cell in ws[row]:
        print('row nb: ', row, cell.value)

row nb:  1 Name
row nb:  1 Orange
row nb:  1 Banana
row nb:  1 Apples
row nb:  1 Kiwi
row nb:  2 Alex
row nb:  2 7
row nb:  2 8
row nb:  2 11
row nb:  2 4
row nb:  3 Sean
row nb:  3 11
row nb:  3 10
row nb:  3 3
row nb:  3 7

In [580]:
# iterrows 
for row in ws.iter_rows(10, 13):
    for cell in row:
        print(cell.value)

Rachel
4
6
11
9
Lisa
7
9
8
10
Greg
None
None
None
None
Dan
None
None
None
None

## return data as tuple

In [581]:
# return data as tuples
sheet_cells = []
for rows in ws.iter_rows():
    row_cells = []
    for cell in rows:
        row_cells.append(cell.value)
    sheet_cells.append(tuple(row_cells))

print(sheet_cells)

[('Name', 'Orange', 'Banana', 'Apples', 'Kiwi'), ('Alex', 7, 8, 11, 4), ('Sean', 11, 10, 3, 7), ('Marina', 1, 1, 5, 10), ('Jess', 10, 6, 5, 2), ('Nicolas', 7, 3, 2, 6), ('Winston', 9, 10, 2, 4), ('Peter', 8, 4, 2, 8), ('Monica', 1, 8, 6, 9), ('Rachel', 4, 6, 11, 9), ('Lisa', 7, 9, 8, 10), ('Greg', None, None, None, None), ('Dan', None, None, None, None), ('Abagail', None, None, None, None), ('Leo', None, None, None, None)]

## Add data to new spreadsheet

In [582]:
ws.title

'Groceries_List'

### append

In [583]:
# append data at the end of dataframe

newdata = [('John', 2, 1, 3, 1), ('Mark', 4, 2, 3, 1), ('Eva', 5, 7, 3, 2)]

for item in newdata:
    ws.append(item)

wb.save('Groceries_1.xlsx')

### Rewrite a cell range

In [584]:
#Takes: start cell, end cell, and sheet you want to copy from.
def copyRange(startCol, startRow, endCol, endRow, sheet):
    rangeSelected = []
    #Loops through selected Rows
    for i in range(startRow,endRow + 1,1):
        #Appends the row to a RowSelected list
        rowSelected = []
        for j in range(startCol,endCol+1,1):
            rowSelected.append(sheet.cell(row = i, column = j).value)
        #Adds the RowSelected List and nests inside the rangeSelected
        rangeSelected.append(rowSelected)

    return rangeSelected

In [585]:
#Paste range
#Paste data from copyRange into template sheet
def pasteRange(startCol, startRow, endCol, endRow, sheetReceiving,copiedData):
    countRow = 0
    for i in range(startRow,endRow+1,1):
        countCol = 0
        for j in range(startCol,endCol+1,1):
            
            sheetReceiving.cell(row = i, column = j).value = copiedData[countRow][countCol]
            countCol += 1
        countRow += 1

### Copy / paste a row

In [586]:
selectedRange = copyRange(startCol =2,
                          startRow= 2,
                          endCol= 5,
                          endRow =2,
                          sheet = ws) 
print(selectedRange)

[[7, 8, 11, 4]]

In [587]:
pasteRange(startCol = 2,
           startRow = 12, 
           endCol=5, 
           endRow = 12, 
           sheetReceiving= ws,
           copiedData = selectedRange)
wb.save('Groceries_1.xlsx')

### Copy paste cellrange : mulitple rows and columns

In [588]:
selectedRange = copyRange(startCol =2,
                          startRow= 5,
                          endCol= 5,
                          endRow =7,
                          sheet = ws) 
print(selectedRange)

[[10, 6, 5, 2], [7, 3, 2, 6], [9, 10, 2, 4]]

In [589]:
pasteRange(startCol = 2,
           startRow = 13, 
           endCol=5, 
           endRow = 15, 
           sheetReceiving= ws,
           copiedData = selectedRange)
wb.save('Groceries_1.xlsx')

## Write / copy a list in a cell range

In [590]:
cellrange = ['Tom', 8, 2, 3, 2]

print(cellrange)
print(len(cellrange))

['Tom', 8, 2, 3, 2]
5

In [591]:
target_row= 2
for i in range(0, len(cellrange)):
    ws.cell(row=target_row, column = i+1).value= cellrange[i]
wb.save('Groceries_1.xlsx')

In [593]:
# get nb of rows of a sheet
print(ws.max_row)

# get nb of columns of a sheet
print(ws.max_column)

18
5

## Use formulas

In [553]:
from openpyxl.utils import get_column_letter, column_index_from_string
get_column_letter(5)

'E'

In [554]:
column_index_from_string('E')

5

In [555]:
ws['F2']= '=SUM(B2:E2)'
ws['F2'].value
wb.save('Groceries_1.xlsx')

In [556]:
# column totals

first_row = 2
last_row = ws.max_row
end_col = ws.max_column
sum_col = end_col + 1
start_col = 2


for row in ws.iter_rows(min_row=2, 
                        max_row=last_row, 
                        min_col=  sum_col, 
                        max_col= sum_col):
    for cell in row:
        cell_sum_start = str(get_column_letter(start_col)) + str(first_row)
        cell_col_end = str(get_column_letter(end_col)) + str(first_row)
        cell.value = '=SUM({0}:{1})'.format(cell_sum_start, cell_col_end) 
        first_row= first_row+1

wb.save('Groceries_1.xlsx')

In [557]:
# row totals

first_row = 2
last_row = ws.max_row
sum_row = last_row + 1
start_col = 2
end_col = ws.max_column
for row in ws.iter_rows(min_row=sum_row,
                        max_row=sum_row, 
                        min_col=start_col,
                        max_col=end_col):
    for cell in row:
        cell_sum_start = cell.column_letter + str(first_row)
        cell_sum_end = cell.column_letter + str(last_row)
        cell.value = '=SUM({0}:{1})'.format(cell_sum_start, cell_sum_end) 

wb.save('Groceries_1.xlsx')

# Formating

In [697]:
import xlsxwriter
from xlsxwriter.utility import xl_rowcol_to_cell
from xlsxwriter.utility import xl_col_to_name
from xlsxwriter.utility import xl_range, xl_range_abs
from xlsxwriter.utility import xl_rowcol_to_cell

In [698]:
# Load raw in the workbook
wb = load_workbook('Groceries_1.xlsx') # load processed file with 16 excels

# Get sheet names
print(wb.sheetnames) # rename 2nd sheet previously to Headcount

sheet = wb['Groceries_List']

# Print the sheet title
print('Sheet Title:',sheet.title)

# Convert Sheet to DataFrame 
df = pd.DataFrame(sheet.values)
df.head()

['Groceries_List', 'Prices', 'Price_tracking']
Sheet Title: Groceries_List

        0       1       2       3     4
0    Name  Orange  Banana  Apples  Kiwi
1     Tom       8       2       3     2
2    Sean      11      10       3     7
3  Marina       1       1       5    10
4    Jess      10       6       5     2

In [699]:
headers = df.iloc[0,:]
df.columns = headers 
df = df.loc[1:]
df = df.drop([2])

print(df.shape)
df.head()

(16, 5)

0     Name Orange Banana Apples Kiwi
1      Tom      8      2      3    2
3   Marina      1      1      5   10
4     Jess     10      6      5    2
5  Nicolas      7      3      2    6
6  Winston      9     10      2    4

In [700]:
# copute the range of the whole dataframe 
max_row, max_col = df.shape
print(max_row, max_col)

df_range = xl_range(0,0, max_row, max_col - 1)
print(df_range)

16 5
A1:E17

In [701]:
# start indices
start = xl_rowcol_to_cell(0,0)
start_col = xl_col_to_name(0)
start_row = 0
print("start point:", start, 
      "start_row:", start_row,      
      "start col:", start_col)

start point: A1 start_row: 0 start col: A

In [702]:
# end indices
end_point = xl_rowcol_to_cell(max_row, max_col-1)
end_col = xl_col_to_name(max_col-1)
end_row = max_row + 1
print("end point:", end_point, 
      "end_row:", end_row,      
      "end col:", end_col)

end point: E17 end_row: 17 end col: E

In [703]:
writer = pd.ExcelWriter('Groceries_Formated.xlsx', engine='xlsxwriter',
                        datetime_format='d mmm yy', 
                        date_format='d mmm yy',)
df.to_excel(writer, sheet_name= 'Groceries' , 
            index=False,
            startrow=0,
            startcol=0)
workbook = writer.book
worksheet = writer.sheets['Groceries']
#  resize the sheet by adjusting the zoom
worksheet.set_zoom(60)

writer.save()
workbook.close()

In [704]:
# Add a header format.
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1})

# Write the column headers with the defined format.
for col_num, value in enumerate(df.columns.values):
    worksheet.write(0, col_num, value, header_format)

writer.save()
workbook.close()

## Charts

In [705]:
# Create a stacked chart sub-type.
#
chart2 = workbook.add_chart({'type': 'column', 'subtype': 'stacked'})

# Configure the first series.
chart2.add_series({
    'name':       '=Groceries!$B$1',
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$B$2:$B$17',
    'data_labels': {'value': True},
    'fill': {'color': 'lime', 'transparency': 20}
})

# Configure second series.
chart2.add_series({
    'name':       '=Groceries!$C$1',
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$C$2:$C$17',
    'data_labels': {'value': True},
    'fill': {'color': 'red', 'transparency': 20}
})

# Configure 3rd series.
chart2.add_series({
    'name':       '=Groceries!$D$1',
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$D$2:$D$7',
    'data_labels': {'value': True},
    'fill': {'color': 'blue', 'transparency': 20}
})

# Configure 4th series.
chart2.add_series({
    'name':       '=Groceries!$E$1',
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$E$2:$E$7',
    'data_labels': {'value': True},
    'fill': {'color': 'green', 'transparency': 20}
})

# Add a chart title and some axis labels.
chart2.set_title ({'name': 'Stacked Chart'})
chart2.set_x_axis({'name': 'Names'})
chart2.set_y_axis({'name': 'Fruits'})

# Set an Excel chart style.
chart2.set_style(12)

# Insert the chart into the worksheet (with an offset).
worksheet.insert_chart('H2', chart2, {'x_offset': 25, 'y_offset': 10})


chart2.set_x_axis({
    'name': 'Fruits per Name',
    'name_font': {'size': 14, 'bold': True},
    'num_font':  {'italic': True },
})

chart2.set_legend({'position': 'bottom'})


# Insert the chart into the worksheet.
worksheet.insert_chart('H2', chart2)

C:\Users\Cristina\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1515: UserWarning: Chart cannot be inserted in a worksheet more than once.
  warn('Chart cannot be inserted in a worksheet more than once.')

In [706]:
writer.save()
workbook.close()

C:\Users\Cristina\anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")